<accordion-group  heading="{{styleGroupDrumsForm.value.name}}">
	<form [formGroup]="styleGroupDrumsForm" (ngSubmit)="save()">

		<div class="form-group">
		    <label class="center-block">Name :
		      <input class="form-control" formControlName="name">
		    </label>
    </div>
    
    <p class="catSettings">Rhythm base</p>
    <div class="slidecontainer row">
      <select formControlName="rhythm">
        <option *ngFor="let r of listRhythm" [ngValue]="r.id">{{r.name}}</option>
      </select>
    </div>

		<p class="catSettings">Pourcentage playing temps fort<span class="valueInput"> {{styleGroupDrumsForm.value.pourcentagePlayingTempsFortMin}} - {{styleGroupDrumsForm.value.pourcentagePlayingTempsFortMax}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsForm.value.pourcentagePlayingTempsFortMax}}" formControlName="pourcentagePlayingTempsFortMin" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsForm.value.pourcentagePlayingTempsFortMin}}" max="100" formControlName="pourcentagePlayingTempsFortMax" class="slider col-md-5">
      </div>
    </div>

    <p class="catSettings">Pourcentage playing temps faible<span class="valueInput"> {{styleGroupDrumsForm.value.pourcentagePlayingTempsFaibleMin}} - {{styleGroupDrumsForm.value.pourcentagePlayingTempsFaibleMax}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsForm.value.pourcentagePlayingTempsFaibleMax}}" formControlName="pourcentagePlayingTempsFaibleMin" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsForm.value.pourcentagePlayingTempsFaibleMin}}" max="100" formControlName="pourcentagePlayingTempsFaibleMax" class="slider col-md-5">
      </div>
    </div>

    <p class="catSettings">Pourcentage playing temps 1<span class="valueInput"> {{styleGroupDrumsForm.value.pourcentagePlayingTemps1Min}} - {{styleGroupDrumsForm.value.pourcentagePlayingTemps1Max}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsForm.value.pourcentagePlayingTemps1Max}}" formControlName="pourcentagePlayingTemps1Min" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsForm.value.pourcentagePlayingTemps1Min}}" max="100" formControlName="pourcentagePlayingTemps1Max" class="slider col-md-5">
      </div>
    </div>

    <p class="catSettings">Pourcentage playing temps 2<span class="valueInput"> {{styleGroupDrumsForm.value.pourcentagePlayingTemps2Min}} - {{styleGroupDrumsForm.value.pourcentagePlayingTemps2Max}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsForm.value.pourcentagePlayingTemps2Max}}" formControlName="pourcentagePlayingTemps2Min" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsForm.value.pourcentagePlayingTemps2Min}}" max="100" formControlName="pourcentagePlayingTemps2Max" class="slider col-md-5">
      </div>
    </div>

    <p class="catSettings">Pourcentage playing temps 3<span class="valueInput"> {{styleGroupDrumsForm.value.pourcentagePlayingTemps3Min}} - {{styleGroupDrumsForm.value.pourcentagePlayingTemps3Max}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsForm.value.pourcentagePlayingTemps3Max}}" formControlName="pourcentagePlayingTemps3Min" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsForm.value.pourcentagePlayingTemps3Min}}" max="100" formControlName="pourcentagePlayingTemps3Max" class="slider col-md-5">
      </div>
    </div>

    <p class="catSettings">Pourcentage playing temps 4<span class="valueInput"> {{styleGroupDrumsForm.value.pourcentagePlayingTemps4Min}} - {{styleGroupDrumsForm.value.pourcentagePlayingTemps4Max}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsForm.value.pourcentagePlayingTemps4Max}}" formControlName="pourcentagePlayingTemps4Min" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsForm.value.pourcentagePlayingTemps4Min}}" max="100" formControlName="pourcentagePlayingTemps4Max" class="slider col-md-5">
      </div>
    </div>
    
		<button type="submit" [disabled]="!styleGroupDrumsForm.valid" class="buttonForm buttonAccept">Done</button>
    <button (click)="delete()" class="buttonForm buttonAccept">Delete</button>
    
    <button *ngIf="styleGroupDrums.id !== 0" (click)="addGroupDrumsIns()">add group drums ins</button>
    
    <app-style-group-drums-ins
    *ngFor="let sGDIs of styleGroupDrums.drumsIns" [styleGroupDrumsIns]="sGDIs" ></app-style-group-drums-ins>
	</form>
</accordion-group>