h3 {
    margin:0;
}

.icons {
    text-align:left;
}

.icons img:hover {
    transform:scale(1.1);
}

.title_music {
    margin:0px;
    margin-left:15px;
    display: inline-block;
    vertical-align: middle;
}

.icon_item_play {
    position:relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.icon_item_play img {
    height:50px;
    width:auto;
}

.icon_item_play:hover {
    -webkit-animation: shake 2s infinite; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: shake 2s infinite; /* Firefox < 16 */
        -ms-animation: shake 2s infinite; /* Internet Explorer */
         -o-animation: shake 2s infinite; /* Opera < 12.1 */
            animation: shake 2s infinite;
}

@keyframes shake {
    0% { transform: rotateZ(0deg); }
    25% { transform: rotateZ(45deg); }
    50% { transform: rotateZ(0deg); }
    75% { transform: rotateZ(-45deg); }
}

.icon_volume {
    float:right;
}

.icon_volume img {
    height:25px;
    width:auto;
}

.icon_band {
    float:right;
}

.icon_band img {
    height:25px;
    width:auto;
}

.icon_loading {
    width:64px;
}

#waveform {
    text-align:center;
    position:relative;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.visible {
    display:block;
}

.invisible {
    display:none;
}

.padding-side {
    padding-left:10px;
    padding-right:10px;
}

.footer_item_music {
    bottom:0px;
    padding:10px;
}

.item_music_image {
    position:relative;
    width:100%;
    height:auto;
    color:white;
}

.item_music_image_loading {
    position:relative;
    width:100%;
    height:auto;
    color:white;
}

.icon_item_music {
    float:right;
    margin:5px;
    cursor: pointer;
}

.icon_item_sound {
    float:right;
    margin:5px;
    cursor: pointer;
}

.loadingWavForm {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    overflow:hidden;
}

.bar {
    /*background: rgba(226, 0, 116, 0.5);*/
    background:white;
    bottom: 49%;
    height: 2%;
    position: absolute;
    width: 3px;      
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
        /*background: rgba(226, 0, 116, 0.1);*/
        height: 2%;
        bottom: 48%; 
    }
    100% {
        /*background: rgba(226, 0, 116, 0.5);       */
        height: 80%;
        bottom: 10%;        
    }
}

/* .video-play-button {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
    transition: 100ms all ease;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: whitesmoke;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    border-width: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    transition: all 200ms;
  }
  
.video-play-button:hover:after {
    background-color: darken(#fa183d, 10%);
}

.video-play-button:hover:before {
    background-color: #ba1f24;
}
  
.video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}
  
.play-icon {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 24px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.pause-icon {
    display: block;
    position: relative;
    z-index: 3;
    width: 0px;
    height: 32px;
    background-color: transparent;
    border-color: white;
    border-style: double;
    border-width: 0px 0px 0px 24px;
}
  
@keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
} */

.circle {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height:60px;
    width:60px;
    z-index: 3;
    cursor:pointer;
    color:#ed6ea0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.play-button, .pause-button {
    height:60px;
    width:60px;
}

.circle:hover {
    /* background-position: 100% 0; */
    color: #f7186a;
}

.circle:focus {
    outline: none;
}
