<div class="container margin-bottom-30">
  <div class="row">
    <div *ngIf="musicFile?.videoId !== null && musicFile?.videoId !== '' && musicFile != undefined" class="col-md-6">
      <div class="video-container">
        <iframe type="text/html"
          [src]="'https://www.youtube.com/embed/'+musicFile.videoId | safe"
          frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>

    <div [ngClass]="{'col-md-12':(musicFile?.videoId === null || musicFile?.videoId === undefined || musicFile?.videoId === '') && musicFile != undefined, 'col-md-6':musicFile?.videoId !== null && musicFile?.videoId !== '' && musicFile != undefined}">
      <div id="waveform" #waveform >
        <div *ngIf="loading" >
          <div class="loadingWavForm" *ngFor="let b of bars">
            <div class='bar' [ngStyle]="{'left': b.left, 'animation-duration':b.duration}"></div>
          </div>
        </div>
      </div>
      <div class="icons">
        <div class="circle">
          <div class="play-button svgCurrentColor" [inlineSVG]="'/assets/white/svg/play-circle.svg'" *ngIf="playVisible" (click)="playAudio()"></div>
          <div class="pause-button svgCurrentColor" [inlineSVG]="'/assets/white/svg/pause-circle.svg'" *ngIf="!playVisible" (click)="playAudio()"></div>
        </div>

        <p class="title_music">{{musicFile.name}}</p>

        <div class="icon_volume" (click)="muteAudio()">
          <img *ngIf="!isMute" src="assets/white/svg/volume-up.svg" class="icon_item_sound">
          <img *ngIf="isMute" src="assets/white/svg/volume-off.svg" class="icon_item_sound">
        </div>
      </div>
    </div>
  </div>
</div>