.customPadding {
    padding-right:3px;
    padding-left:3px;
}

.container {
    padding-bottom:40px;
}

.catSettings {
    font-size:12px;
    margin-bottom:10px;
    margin-top:15px;
    font-weight: bold;
}

.slidecontainer {
    padding-left:15px;
    padding-right:15px;
}

/* .slider:hover {
    opacity: 1;
} */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;   
    /* background: #77C2BB; */
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
    top: 3px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #009688;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #009688;
    cursor: pointer;
}

.valueInput {
    font-size:14px;
    float:right;
}