<div class="container">
  <p class="catSettings">GENRE</p>
  <div class="row">
      <app-music-style class="col-lg-3 col-sm-4 col-6 customPadding" 
      *ngFor="let style of stylesMusic" [musicStyle]="style" (click)="chooseStyle(style.id)"></app-music-style>
  </div>
  <br>
  <p class="catSettings">TEMPO <span class="valueInput">{{musicParameters.tempo}} bpm</span></p>
  <div class="slidecontainer row">
    <input type="range" min="{{musicParameters.tempoMin}}" max="{{musicParameters.tempoMax}}" [(ngModel)]="musicParameters.tempo" class="slider" id="myRange">
  </div>
  <p class="catSettings">SWING <span class="valueInput">{{musicParameters.swing}} %</span></p>
  <div class="slidecontainer row">
    <input type="range" min="{{musicParameters.swingMin}}" max="{{musicParameters.swingMax}}" [(ngModel)]="musicParameters.swing" class="slider">
  </div>
</div>
