<select [(ngModel)]="selectedStyle">
      <option *ngFor="let s of stylesMusic" [ngValue]="s">{{s.styleName}}</option>
</select>
<select [(ngModel)]="selectedParameter">
      <option *ngFor="let s of allParameters" [ngValue]="s">{{s}}</option>
</select>
<button (click)="analyse()">Analyse</button>

<br>
<!-- <select [(ngModel)]="x">
      <option *ngFor="let s of stylesMusic" [ngValue]="s">{{s.styleName}}</option>
</select> -->
<select [(ngModel)]="y" (change)="buildSimpleData(selectedParameter,y)">
      <option *ngFor="let s of allOutput" [ngValue]="s">{{s}}</option>
</select>
 <!-- [view]="view" -->
<div class="container-chart">
      <ngx-charts-line-chart
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [timeline]="timeline"
            (select)="onSelect($event)">
      </ngx-charts-line-chart>
</div>

