<div class="row">
  <app-music-file class="col-lg-3 col-sm-6" 
  *ngFor="let mFile of listMusic" [topMusic]="false" [musicFile]="mFile"></app-music-file>
  <div *ngIf="loading" class="col-md-2 offset-md-5">
    <img class="imgLoading" src="assets/loading-640_640.gif">
  </div>
  <div *ngIf="!loading && listMusic.length == 0" >
    <h4>you don't have a music yet ! click on the COMPOSE button to create your first sheet</h4>
  </div>
</div>
<div *ngIf="moreVisible" class="row justify-content-center">
  <button class="buttonForm green-button" (click)="addMore()">more</button>
</div>
