.imgLoading {
    margin-top: 20px;
    width:100%;
}

/* .buttonForm {
    background:white;
    border-style:solid;
    border-width:2px;
    margin-left:auto;
    margin-right:auto;
    padding: 0.5rem 0.8rem;
    cursor:pointer;
    color: rgba(63,149,234,0.8);
    border-color:rgba(63,149,234,0.8);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top:20px;
}

.buttonForm:hover {
    background-color:rgba(63,149,234,0.8);
    color: white;
} */