.list-group-container {
    height:100px;
    width:100%;
    overflow-y: scroll;
    border-radius:5px;
}

.list-group-item {
    color:grey;
    padding: 0.15rem 1.25rem;
    cursor:pointer;
    font-size:14px;
}

.list-group-item:hover {
    color:lightgray;
}

.pointer {
    cursor:pointer;
}

.iconTimes {
    height:16px;
    width:16px;
}

.tags {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.tag:not(body) {
    border-style:solid;
    border-width:2px;
    color: white;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0.15rem 0.15rem;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 24px;
    border-radius: 50px;
    font-size: 14px;
}

.checkbox {
    position: relative;
    display: inline-block;
}
.checkbox:after, .checkbox:before {
    font-family: FontAwesome;
    -webkit-font-feature-settings: normal;
            font-feature-settings: normal;
    -webkit-font-kerning: auto;
            font-kerning: auto;
    -webkit-font-language-override: normal;
            font-language-override: normal;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}
.checkbox label {
    width: 90px;
    height: 42px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    transition: 0.4s;
}
.checkbox label:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: 0;
    top: -5px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}
.checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.checkbox input:hover + label:after {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.checkbox input:checked + label:after {
    left: 25px;
}

.model-4 .checkbox label {
    background: #bbb;
    height: 10px;
    width: 40px;
}
.model-4 .checkbox label:after {
    background: #009688;
    /* top: -8px; */
    width: 20px;
    height: 20px;
}
.model-4 .checkbox input:checked + label {
    background: #77C2BB;
}
.model-4 .checkbox input:checked + label:after {
    background: #009688;
    left: 25px;
}

.catSettings {
    font-size:12px;
    margin-bottom:10px;
    margin-top:15px;
    font-weight: bold;
}

.catSettings select {
    background-color: transparent;
    border-width:0;
    letter-spacing: -1px;
    outline: 0;
    text-align: left;
    transition: all 0.3s;
    display:inline-block;
    margin-left:15px;
    cursor:pointer;
    color:white;
}

.catSettings select option{
    color:black;
}

.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
}
.testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
    background-color: white;
    color: black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
    overflow: hidden;
}

/* customize scrollbar css */
.testimonial-group > .row::-webkit-scrollbar{
    width:10px;
    background-color:#77c2bb;
}
.testimonial-group > .row::-webkit-scrollbar:vertical{
    height:10px;
}
.testimonial-group > .row::-webkit-scrollbar-track{
    border-radius:10px;
    border:5px solid transparent;
    -webkit-box-shadow:0 0 6px #c8c8c8 inset;
}
.testimonial-group > .row::-webkit-scrollbar-thumb{
    background-color:#009688;
    border:5px solid #009688;
    border-radius:10px;
}
.testimonial-group > .row::-webkit-scrollbar-thumb:hover{
    background-color:#009688;
    border:5px solid #009688;
}
.testimonial-group > .row::-webkit-scrollbar-thumb:active{
    background-color:#009688;
    border:5px solid #009688;
}

.margin-bottom {
    margin-bottom:20px;
}


.card {
    background-color: rgb(245, 246, 250);
    border-radius: 5px;
}

.card a {
    cursor:pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.containerPicture {
    position: relative;
    width: 100%;
    height: 80px;
}

.containerPicture img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.informationContainer {
    position: relative;
    color: black;
    text-align: center;
}

.textContainer {
    position:relative;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* 
@keyframes slideInLeft {
    from    {right:400px; opacity:0}
    to      {right:0px; opacity:1}
}

@keyframes slideInRight {
    from    {left:400px; opacity:0}
    to      {left:0px; opacity:1}
} */

.informationContainer h3 {
    /* line-height: 40px; */
    font-style: bold;
    font-weight: 700;
    /* font-size: 25px; */
    /* letter-spacing: 2px; */
    color:#009688;
}

.textContainer p {
    line-height: 20px;
    font-weight: 300;
    font-size: 14px;
    color:rgb(119,119,119);
}

.informationContainer a {
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
    color:#009688;
}

/* .backward {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
}

.forward {
    animation-name: slideInRight;
    animation-duration: 1.5s;
} */

.smallCardRight {
    opacity: 0.9;
    transform: rotateY(40deg) scale(0.9);
}

.smallCardLeft {
    opacity: 0.9;
    transform: rotateY(-40deg) scale(0.9);
}

.linkContainer {
    padding:10px;
}

.tonalityChoiceActive .linkContainer {
    background-color:#009688;
    border-radius: 5px;
}

.tonalityChoiceActive .linkContainer a {
    color:white;
}
  
