<div class="container">
  <div class="row margin-bottom">
    <div class="col">
      <p class="catSettings">
        INSTRUMENTS : 
        &ensp;
        <select [compareWith]="compareFn" [(ngModel)]="selectedInstrument" (ngModelChange)="addToList($event)">
          <option [ngValue]="defaultInstrument">{{defaultInstrument.name}}</option>
          <option *ngFor="let instrument of listInstruments" [ngValue]="instrument">{{instrument.name}}</option>
        </select>
      </p>
      <!-- <div class="m-dropdown">
        <div class="e-button" [ngClass]="{'open': openBoolean}" (click)="openBoolean = !openBoolean">
          Click Me
          <div class="e-burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <ul class="e-list" [ngClass]="{'openList': openBoolean}">
          <li><a href="#" >{{defaultInstrument.name}}</a></li>
          <li><a href="#" *ngFor="let instrument of listInstruments">{{instrument.name}}</a></li>
        </ul>
      </div> -->
      <div class="tags has-addons">
        <span *ngFor="let instrument of listSelectedInstruments" class="tag is-danger">
          {{instrument.name}}
          &ensp;
          <span class="pointer" (click)="deleteFromList(instrument)">
            <div class="iconTimes svgCurrentColor" [inlineSVG]="'/assets/white/svg/times.svg'"></div>
          </span>
        </span>
      </div>
    </div>
    <div class="col-lg-auto">
      <p class="catSettings">PERCUSSION</p>
      <!-- <div>
        <input type="checkbox" id="pure-toggle-2" hidden  [(ngModel)]="musicParameters.percussion" (change)="setPercussion()"/>
        <label class="pure-toggle wide" for="pure-toggle-2">
          <span class="fontawesome-ok">No</span>
          <span class="fontawesome-remove">Yes</span>
        </label>
      </div> -->
      <div class="model-4">
        <div class="checkbox">
          <input type="checkbox" [(ngModel)]="musicParameters.percussion" (change)="setPercussion()"/>
          <label></label>
        </div>
      </div>
    </div>
  </div>
  <p class="catSettings">TONALITY</p>
  <div class="row">
    <div class="col">
      <div>
        <!-- <div>
          <input type="checkbox" id="pure-toggle-3" hidden [(ngModel)]="isChecked" (change)="majorMinor = isChecked?'major':'minor'"/>
          <label class="pure-toggle wide" for="pure-toggle-3">
            <span class="fontawesome-ok">Minor</span>
            <span class="fontawesome-remove">Major</span>
          </label>
        </div> -->
        <!-- <div class="model-4">
          <div class="checkbox">
            <input type="checkbox" [(ngModel)]="isChecked" (change)="majorMinor = isChecked?'major':'minor'"/>
            <label></label>
          </div>
        </div> -->
        <div class="tonalityChoiceContainer">
          <!-- <div class="tonalityChoice" *ngFor="let ton of tonalityList | tonalityFilter:majorMinor" title="{{ton.description}}" (click)="chooseTonality(ton.name+' '+ton.keyMajorMinor)" [ngClass]="{'tonalityChoiceActive':(ton.name+' '+ton.keyMajorMinor) === musicParameters.tonality}">
            <span>{{ton.name}}</span>
            <img src="{{ton.image}}">
          </div> -->
          <!-- (activeSlideChange)="nextOrPrevious($event)" -->
          <carousel class="multi-item-carousel" [interval]="0" >
            <!-- <app-card-tonality *ngFor="let ton of tonalityList" [tonality]="ton"></app-card-tonality> -->
            <!-- [forwardSlide]="forwardSlide" -->
            <slide *ngFor="let ton of tonalityList">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="card smallCardLeft flip-horizontal-bck delay-1" [ngClass]="{'tonalityChoiceActive':(getPrevious(ton).name+' '+getPrevious(ton).keyMajorMinor) === musicParameters.tonality}">
                      <div class="containerPicture">
                        <img src="{{getPrevious(ton).image}}" />
                      </div>
                      <div class="informationContainer">
                        <h3>{{getPrevious(ton).name}} - {{getPrevious(ton).keyMajorMinor}}</h3>
                        <div class="textContainer">
                          <p>{{getPrevious(ton).description}}</p>
                        </div>
                        <div class="linkContainer"><a (click)="chooseTonality(getPrevious(ton).name+' '+getPrevious(ton).keyMajorMinor)">Select</a></div>
                      </div>
                    </div>
                  </div>
    
                  <div class="col-lg-4">
                    <div class="card flip-horizontal-bck" [ngClass]="{'tonalityChoiceActive':(ton.name+' '+ton.keyMajorMinor) === musicParameters.tonality}">
                      <div class="containerPicture">
                        <img src="{{ton.image}}" />
                      </div>
                      <div class="informationContainer">
                        <h3>{{ton.name}} - {{ton.keyMajorMinor}}</h3>
                        <div class="textContainer">
                          <p>{{ton.description}}</p>
                        </div>
                        <div class="linkContainer"><a (click)="chooseTonality(ton.name+' '+ton.keyMajorMinor)">Select</a></div>
                      </div>
                    </div>
                  </div>
    
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="card smallCardRight flip-horizontal-bck delay-2" [ngClass]="{'tonalityChoiceActive':(getNext(ton).name+' '+getNext(ton).keyMajorMinor) === musicParameters.tonality}">
                      <div class="containerPicture">
                        <img src="{{getNext(ton).image}}" />
                      </div>
                      <div class="informationContainer">
                        <h3>{{getNext(ton).name}} - {{getNext(ton).keyMajorMinor}}</h3>
                        <div class="textContainer">
                          <p>{{getNext(ton).description}}</p>
                        </div>
                        <div class="linkContainer">
                          <a (click)="chooseTonality(getNext(ton).name+' '+getNext(ton).keyMajorMinor)">Select</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</div>




