/* .card {
    text-align: center;
    border-width:0px;
    border-radius:0px;
    padding:15px;
    background-color:white;
    -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    z-index:5;
}

.card-text {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #7f7f7f;
    font-size: 16px;
}

.card-img {
    width:30%;
    height:auto;
    margin-left:35%;
}

.card-footer{
    background: rgba(0,0,0,0);
    border-width:0px;
}

.card-header {
    background: rgba(0,0,0,0);
    border-width:0px;
    color: black;
    font-family:"Source Sans Pro", Arial, sans-serif;
    font-size:24px;
    font-weight:400;
    height:26px;
    line-height:26.4px;
}

.backgroundImg {
    position:absolute;
    padding:0px;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity:0;
    z-index:-1;
}

.card-img-white {
    display: none;
}

.card:hover .btn-primary{
    color: white;
    background-color: rgba(0,0,0,0);
    border-color:white;
}

.btn-primary {
    border-width: 2px;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #EB6864 !important;
    border-color: #EB6864 !important;
}

*/

