<!-- <div class="card h-100" #cardElement [ngClass]="visibility" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">
  <img class="card-img card-img-red" src="{{card.icon}}">
  <h4 class="card-header">{{card.title}}</h4>
  <div class="card-body">
    <p class="card-text">{{card.text}}</p>
  </div>
  <div class="card-footer">
    <a href="#{{card.link}}" class="btn btn-primary">Learn More</a>
  </div>
</div> -->

<!-- <div class="product-card">
  <div class="product-image">
    <img src="{{card.icon}}">
  </div>
  <div class="product-details">
    <h1>{{card.title}}</h1>
    <p>{{card.text}}</p>
    <button type="button" class="btn">Buy Now</button>
  </div>
</div> -->
