<!-- [ngClass]="{'forward':forwardSlide, 'backward':!forwardSlide}" -->
<slide>
  <div class="container">
    <div class="row">
      <div class="col-sm-4" *ngFor="let ton of allTonVisible ; first as isFirst; last as isLast">
        <div class="card" [ngClass]="{'smallCard': isFirst || isLast}">
          <div class="containerPicture">
            <img src="{{ton.image}}" />
          </div>
          <div class="informationContainer">
            <h3>{{ton.name}} - {{ton.keyMajorMinor}}</h3>
            <div class="textContainer">
              <p>{{ton.description}}</p>
            </div>
            <div><a>Select</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</slide>