.carousel-item {
    /* width: 70%;
    margin-left: 15%;
    background-color: rgb(245, 246, 250);
    border-radius: 20px; */
}

.card {
    background-color: rgb(245, 246, 250);
    border-radius: 20px;
}

.containerPicture {
    position: relative;
    width: 100%;
    height: 100px;
}

.containerPicture img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.informationContainer {
    position: relative;
    padding: 10px;
    color: black;
    text-align: center;
}

.textContainer {
    position:relative;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* 
@keyframes slideInLeft {
    from    {right:400px; opacity:0}
    to      {right:0px; opacity:1}
}

@keyframes slideInRight {
    from    {left:400px; opacity:0}
    to      {left:0px; opacity:1}
} */

.informationContainer h3 {
    line-height: 40px;
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
    color:#009688;
}

.textContainer p {
    line-height: 20px;
    font-weight: 300;
    font-size: 14px;
    color:rgb(119,119,119);
}

.informationContainer a {
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
    color:#009688;
}

/* .backward {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
}

.forward {
    animation-name: slideInRight;
    animation-duration: 1.5s;
} */

.smallCard {
    transform: scale(0.8);
}
