<accordion-group  heading="{{styleGroupInstrumentsForm.value.name}}">
	<form [formGroup]="styleGroupInstrumentsForm" (ngSubmit)="save()">

		<div class="form-group">
		    <label class="center-block">Name :
		      <input class="form-control" formControlName="name">
		    </label>
		</div>

		<p class="catSettings">Is bass part of:</p>
		<div class="slidecontainer row">
			<select formControlName="motherId">
				<option [ngValue]="0">none</option>
				<option *ngFor="let styleGoup of listStyleGroupIns" [ngValue]="styleGoup.id">{{styleGoup.name}}</option>
			</select>
		</div>

		<p *ngIf="styleGroupInstrumentsForm.value.motherId === 0" class="catSettings">Instruments</p>
		<div *ngIf="styleGroupInstrumentsForm.value.motherId === 0" class="slidecontainer row">
			<select multiple formControlName="instruments">
				<option *ngFor="let instrument of listInstruments" [ngValue]="instrument.id">{{instrument.name}}</option>
			</select>
		</div>  

		<p class="catSettings">Pourcentage playing<span class="valueInput"> {{styleGroupInstrumentsForm.value.pourcentagePlayingMin}} - {{styleGroupInstrumentsForm.value.pourcentagePlayingMax}}</span></p>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pourcentagePlayingMax}}" formControlName="pourcentagePlayingMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pourcentagePlayingMin}}" max="100" formControlName="pourcentagePlayingMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Balance bass - melody<span class="valueInput"> {{styleGroupInstrumentsForm.value.balanceBassMelodyMin}} - {{styleGroupInstrumentsForm.value.balanceBassMelodyMax}}</span></p>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="-100" max="{{styleGroupInstrumentsForm.value.balanceBassMelodyMax}}" formControlName="balanceBassMelodyMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.balanceBassMelodyMin}}" max="100" formControlName="balanceBassMelodyMax" class="slider col-md-5">
			</div>
		</div>


		<p class="catSettings">Balance melody - melody bis<span class="valueInput"> {{styleGroupInstrumentsForm.value.balanceMelodyMelodyBisMin}} - {{styleGroupInstrumentsForm.value.balanceMelodyMelodyBisMax}}</span></p>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="-100" max="{{styleGroupInstrumentsForm.value.balanceMelodyMelodyBisMax}}" formControlName="balanceMelodyMelodyBisMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.balanceMelodyMelodyBisMin}}" max="100" formControlName="balanceMelodyMelodyBisMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Gap between notes<span class="valueInput"> {{styleGroupInstrumentsForm.value.gBetweenNotesMin}} - {{styleGroupInstrumentsForm.value.gBetweenNotesMax}}</span></p>
		<span>distance de base entre notes en demi ton</span>
		<span> (4 demi ton) : la -> do# ou fa</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.gBetweenNotesMax}}" formControlName="gBetweenNotesMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.gBetweenNotesMin}}" max="20" formControlName="gBetweenNotesMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Dispersion notes<span class="valueInput"> {{styleGroupInstrumentsForm.value.dispersionNotesMin}} - {{styleGroupInstrumentsForm.value.dispersionNotesMax}}</span></p>
		<span>dispersion pour le choix des notes : a partir de la nouvelle note, creation d'une liste de possibilités qui reste dans l'accord/tonalité</span>
		<span>(3) : la en tonalité do majeur -> la, si, do, sol</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.dispersionNotesMax}}" formControlName="dispersionNotesMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.dispersionNotesMin}}" max="20" formControlName="dispersionNotesMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage chance to have the same note in motif<span class="valueInput"> {{styleGroupInstrumentsForm.value.pChanceSameNoteInMotifMin}} - {{styleGroupInstrumentsForm.value.pChanceSameNoteInMotifMax}}</span></p>
		<span>Pourcentage de chance d'avoir la meme note dans le motif do - mi - sol...</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pChanceSameNoteInMotifMax}}" formControlName="pChanceSameNoteInMotifMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pChanceSameNoteInMotifMin}}" max="100" formControlName="pChanceSameNoteInMotifMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage chance to stay around note ref<span class="valueInput"> {{styleGroupInstrumentsForm.value.pChanceStayAroundNoteRefMin}} - {{styleGroupInstrumentsForm.value.pChanceStayAroundNoteRefMax}}</span></p>
		<span>Pourcentage de chance de rester autour de la note ref de depart .</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pChanceStayAroundNoteRefMax}}" formControlName="pChanceStayAroundNoteRefMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pChanceStayAroundNoteRefMin}}" max="100" formControlName="pChanceStayAroundNoteRefMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage of silences<span class="valueInput"> {{styleGroupInstrumentsForm.value.pourcentageSilMin}} - {{styleGroupInstrumentsForm.value.pourcentageSilMax}}</span></p>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pourcentageSilMax}}" formControlName="pourcentageSilMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pourcentageSilMin}}" max="100" formControlName="pourcentageSilMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Speed<span class="valueInput"> {{styleGroupInstrumentsForm.value.speedMin}} - {{styleGroupInstrumentsForm.value.speedMax}}</span></p>
		<span>permet de choisir le rythme prefere</span>
		<span>tempo de 40, speed de 80 -> rythme prefere = croche</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.speedMax}}" formControlName="speedMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.speedMin}}" max="1000" formControlName="speedMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage chance same rythme<span class="valueInput"> {{styleGroupInstrumentsForm.value.pChanceSupSameRythmMin}} - {{styleGroupInstrumentsForm.value.pChanceSupSameRythmMax}}</span></p>
		<span>favorise plus ou moins le rythme prefere, coefs associés a chaque rythme : </span>
		<span>(100%) -> rythme prefere quasi tout le temps</span>
		<span>(0%) -> rythme prefere a la meme probabilite que les autres rythmes</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pChanceSupSameRythmMax}}" formControlName="pChanceSupSameRythmMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pChanceSupSameRythmMin}}" max="100" formControlName="pChanceSupSameRythmMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Interval des probabilités de rythmes<span class="valueInput"> {{styleGroupInstrumentsForm.value.probabilityRythmMin}} - {{styleGroupInstrumentsForm.value.probabilityRythmMax}}</span></p>
		<span>rythme prefere a la probabilite max</span>
		<span>les rythmes delaisses ont la probabilite la plus faible</span>
		<span>plus l'ecart sera grand, plus on donne de chances au rythme prefere d'etre choisi</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="1" max="{{styleGroupInstrumentsForm.value.probabilityRythmMax}}" formControlName="probabilityRythmMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.probabilityRythmMin}}" max="1000" formControlName="probabilityRythmMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Nombre de rythmes choisis<span class="valueInput"> {{styleGroupInstrumentsForm.value.numberRythmMin}} - {{styleGroupInstrumentsForm.value.numberRythmMax}}</span></p>
		<span>nombre de rythmes que l'instrument pourra jouer</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="1" max="{{styleGroupInstrumentsForm.value.numberRythmMax}}" formControlName="numberRythmMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.numberRythmMin}}" max="12" formControlName="numberRythmMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Interval des poids donnes aux rythmes aleatoirement<span class="valueInput"> {{styleGroupInstrumentsForm.value.weightRythmMin}} - {{styleGroupInstrumentsForm.value.weightRythmMax}}</span></p>
		<span>apres le choix du rythme prefere, on prend le nombre de rythmes choisis precedement et on applique un coef pour chacun.</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="1" max="{{styleGroupInstrumentsForm.value.weightRythmMax}}" formControlName="weightRythmMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.weightRythmMin}}" max="12" formControlName="weightRythmMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage syncopes <span class="valueInput"> {{styleGroupInstrumentsForm.value.pSyncopesMin}} - {{styleGroupInstrumentsForm.value.pSyncopesMax}}</span></p>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pSyncopesMax}}" formControlName="pSyncopesMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pSyncopesMin}}" max="100" formControlName="pSyncopesMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage syncopettes<span class="valueInput"> {{styleGroupInstrumentsForm.value.pSyncopettesMin}} - {{styleGroupInstrumentsForm.value.pSyncopettesMax}}</span></p>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pSyncopettesMax}}" formControlName="pSyncopettesMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pSyncopettesMin}}" max="100" formControlName="pSyncopettesMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage syncopes on temps forts<span class="valueInput"> {{styleGroupInstrumentsForm.value.pSyncopesTempsFortsMin}} - {{styleGroupInstrumentsForm.value.pSyncopesTempsFortsMax}}</span></p>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pSyncopesTempsFortsMax}}" formControlName="pSyncopesTempsFortsMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pSyncopesTempsFortsMin}}" max="100" formControlName="pSyncopesTempsFortsMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage contre temps<span class="valueInput"> {{styleGroupInstrumentsForm.value.pContreTempsMin}} - {{styleGroupInstrumentsForm.value.pContreTempsMax}}</span></p>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pContreTempsMax}}" formControlName="pContreTempsMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pContreTempsMin}}" max="100" formControlName="pContreTempsMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage dissonance<span class="valueInput"> {{styleGroupInstrumentsForm.value.pDissonanceMin}} - {{styleGroupInstrumentsForm.value.pDissonanceMax}}</span></p>
		<span>favorise plus ou moins les notes hors accord / tonalite</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pDissonanceMax}}" formControlName="pDissonanceMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pDissonanceMin}}" max="100" formControlName="pDissonanceMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage irrégularités<span class="valueInput"> {{styleGroupInstrumentsForm.value.pIrregularitesMin}} - {{styleGroupInstrumentsForm.value.pIrregularitesMax}}</span></p>
		<span>favorise plus ou moins les ryhtmes creant une irregularité (ronde pointee, blanche pointee, noire pointee, croche pointee)</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pIrregularitesMax}}" formControlName="pIrregularitesMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pIrregularitesMin}}" max="100" formControlName="pIrregularitesMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Balance ternaire binaire<span class="valueInput"> {{styleGroupInstrumentsForm.value.bBinaireTernaireMin}} - {{styleGroupInstrumentsForm.value.bBinaireTernaireMax}}</span></p>
		<span>favorise plus ou moins les rythmes binaires ou ternaires</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.bBinaireTernaireMax}}" formControlName="bBinaireTernaireMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.bBinaireTernaireMin}}" max="100" formControlName="bBinaireTernaireMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Number notes played simultaneously<span class="valueInput"> {{styleGroupInstrumentsForm.value.numberNotesSimultaneouslyMin}} - {{styleGroupInstrumentsForm.value.numberNotesSimultaneouslyMax}}</span></p>
		<span>nombre de notes que l'instrument pourra jouer au max en meme temps (si l'instrument le permet)</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="1" max="{{styleGroupInstrumentsForm.value.numberNotesSimultaneouslyMax}}" formControlName="numberNotesSimultaneouslyMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.numberNotesSimultaneouslyMin}}" max="4" formControlName="numberNotesSimultaneouslyMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage chance to play chord<span class="valueInput"> {{styleGroupInstrumentsForm.value.pChancePlayChordMin}} - {{styleGroupInstrumentsForm.value.pChancePlayChordMax}}</span></p>
		<span>Pourcentage de chance de jouer de l'accord</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pChancePlayChordMax}}" formControlName="pChancePlayChordMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pChancePlayChordMin}}" max="100" formControlName="pChancePlayChordMax" class="slider col-md-5">
			</div>
		</div>

		<p class="catSettings">Pourcentage chance to start by tonale in bass<span class="valueInput"> {{styleGroupInstrumentsForm.value.pChanceStartByTonaleAsBassMin}} - {{styleGroupInstrumentsForm.value.pChanceStartByTonaleAsBassMax}}</span></p>
		<span>Pourcentage de chance de commencer par la tonale dans la ligne de basse</span>
		<div class="slidecontainer row">
			<div class="container">
				<input type="range" min="0" max="{{styleGroupInstrumentsForm.value.pChanceStartByTonaleAsBassMax}}" formControlName="pChanceStartByTonaleAsBassMin" class="slider col-md-5">
				<input type="range" min="{{styleGroupInstrumentsForm.value.pChanceStartByTonaleAsBassMin}}" max="100" formControlName="pChanceStartByTonaleAsBassMax" class="slider col-md-5">
			</div>
		</div>

		<button type="submit" [disabled]="!styleGroupInstrumentsForm.valid" class="buttonForm buttonAccept">Done</button>
		<button (click)="delete()" class="buttonForm buttonAccept">Delete</button>
	</form>
</accordion-group>