.containerPicture {
    position:relative;
    /* height:100%; */
    width:100%;
    padding-top: 60%;
    animation-name: slideInLeft;
    animation-duration: 1.5s;
}

.containerPicture img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.textContainer {
    position:relative;
    animation-name: slideInRight;
    animation-duration: 1.5s;
    text-align:center;
}

@keyframes slideInLeft {
    from    {right:400px; opacity:0}
    to      {right:0px; opacity:1}
}

@keyframes slideInRight {
    from    {left:400px; opacity:0}
    to      {left:0px; opacity:1}
}

.textContainer h3 {
    line-height: 40px;
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
}

.textContainer p {
    line-height: 20px;
    font-weight: 300;
    font-size: 16px;
}

.textContainer strong {
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
}
