<slide>
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="containerPicture">
					<img src="{{service.image}}" />
				</div>
			</div>
			<div class="col-lg-4 my-auto">
				<div class="textContainer">
					<h3>{{service.title}}</h3>
					<p>{{service.text}}</p>
					<strong>{{service.resume}}</strong>
				</div>
			</div>
		</div>
	</div>
</slide>
