<div class="item_music" #itemMusic [ngClass]="{'shadow':!topMusic}">
  <a> 
    <div class="item_music_image">
      <img [hidden]="!loaded" (load)="loaded = true" class="item_music_image" src="{{musicFile.image}}">
      <img class="item_music_image_loading" *ngIf="!loaded" src="assets/loading-640_640.gif"/>
      <div class="icon_band">
        <span *ngIf="currentUser && currentUser.id === musicFile.user_id">
          <div *ngIf="!musicFile.visible_origin && !musicFile.visible_modified && !musicFile.visible_video" [inlineSVG]="'/assets/white/svg/eye-slash.svg'" class="icon_item_music svgCurrentColor" (click)="toggleVisible()" title="Share to the world"> 
          </div>
          <div *ngIf="musicFile.visible_origin || musicFile.visible_modified || musicFile.visible_video" [inlineSVG]="'/assets/white/svg/eye.svg'" class="icon_item_music svgCurrentColor" (click)="toggleVisible()" title="Keep this music for me">
          </div>
        </span>
        <span *ngIf="currentUser && currentUser.id !== 0">
          <div *ngIf="!like" [inlineSVG]="'/assets/white/svg/heart-o.svg'" class="icon_item_music svgCurrentColor" (click)="likeMusic()" title="I like it"> 
          </div>
          <div *ngIf="like" [inlineSVG]="'/assets/white/svg/heart.svg'" class="icon_item_music svgCurrentColor" (click)="dislikeMusic()" title="Not as good as expected...">
          </div>
        </span>
        <span *ngIf="currentUser && currentUser.id === musicFile.user_id">
          <div [inlineSVG]="'/assets/white/svg/share-alt.svg'" class="icon_item_music svgCurrentColor" title="share" (click)="openModal(shareTemplate)">
          </div>
        </span>
        <div [inlineSVG]="'/assets/white/svg/info-circle.svg'" class="icon_item_music svgCurrentColor" [popover]="popTemplate" placement="top" container="body" [outsideClick]="true" title="Show me everything">
        </div>
        <span *ngIf="currentUser && currentUser.id === musicFile.user_id">
          <div [inlineSVG]="'/assets/white/svg/trash-o.svg'" class="icon_item_delete svgCurrentColor" (click)="openModal(modalTemplate)" title="Delete music"></div>
        </span>
      </div>
      <div class="container links">
        <div class="row icon_play">
          <div class="icon_item_play svgCurrentColor" *ngIf="!topMusic" (click)="playAudio()" [inlineSVG]="'/assets/white/svg/play-circle-o.svg'" [routerLink]="['/myMusic', { outlets: { aux:'player' } }]"></div>
          <div class="icon_item_play svgCurrentColor" *ngIf="topMusic" (click)="playAudio()" [inlineSVG]="'/assets/white/svg/play-circle-o.svg'" [routerLink]="['/myMusic', { outlets: { primary:'SharedMusicsList', aux:'player' } }]"></div>
        </div>
        <div class="row rowTitle">
          <h3 class="title_music">{{musicFile.name}}</h3>
        </div>
        <div class="row">
          <!-- [href]="musicFile.musicXml | safe" download="file.xml" -->
          <a *ngIf="currentUser && currentUser.id === musicFile.user_id" class="hvr-bounce-to-right bounce col" (click)="openModal(modalDownload)">
            <span ><h5>DOWNLOAD</h5></span>
          </a>
          <a *ngIf="currentUser && currentUser.id !== musicFile.user_id" class="hvr-bounce-to-right bounce col" [routerLink]="" (click)="take()">
            <span><h5>TAKE</h5></span>
          </a>
          <a class="hvr-bounce-to-left bounce col" routerLink="/musicDetails/{{musicFile.id}}/infoScore">
            <span *ngIf="currentUser && currentUser.id === musicFile.user_id"><h5>EDIT</h5></span>
            <span *ngIf="currentUser && currentUser.id !== musicFile.user_id || !currentUser"><h5>VIEW</h5></span>
          </a>
        </div>
      </div>
    </div>
  </a>
</div>

<ng-template #modalTemplate>
  <div class="modal-body text-center">
    <h5>Delete this music ?</h5>
    <button type="button" class="buttonForm" (click)="deleteMusic()" >Yes</button>
    <button type="button" class="buttonForm redOption" (click)="decline()" >No</button>
  </div>
</ng-template>

<ng-template #modalDownload>
  <div class="container">
    <div class="modal-body text-center row">
      <h5>What should we download ?</h5>
      <button type="button" class="buttonForm col" (click)="createBlob('Xml')" >MusicXml</button>
      <button type="button" class="buttonForm col" (click)="createBlob('mXml')" >Modified musicXml</button>
      <button type="button" class="buttonForm col" (click)="createBlob('mid')" >Midi file</button>
      <button type="button" class="buttonForm col" (click)="createBlob('mp3')" >Mp3 file</button>
      <button type="button" class="buttonForm col" (click)="createBlob('wav')" >Wav file</button>
    </div>
  </div>
</ng-template>

<ng-template #shareTemplate>
  <div class="share-template">
    <button class="button_share facebook" [url]="'https://murmure.tech/musicDetails/' + musicFile.id + '/infoScore'" mat-fab shareButton="facebook">
      <div class="icon_share svgCurrentColor" [inlineSVG]="'/assets/white/svg/facebook-f.svg'"></div>
    </button>
    <button class="button_share twitter" [url]="'https://murmure.tech/musicDetails/' + musicFile.id + '/infoScore'" mat-fab shareButton="twitter">
      <div class="icon_share svgCurrentColor" [inlineSVG]="'/assets/white/svg/twitter.svg'"></div>
    </button>
    <button class="button_share linkedin" [url]="'https://murmure.tech/musicDetails/' + musicFile.id + '/infoScore'" mat-fab shareButton="linkedin">
      <div class="icon_share svgCurrentColor" [inlineSVG]="'/assets/white/svg/linkedin.svg'"></div>
    </button>
    <button class="button_share whatsapp" [url]="'https://murmure.tech/musicDetails/' + musicFile.id + '/infoScore'" mat-fab shareButton="whatsapp">
      <div class="icon_share svgCurrentColor" [inlineSVG]="'/assets/white/svg/whatsapp.svg'"></div>
    </button>
  </div>
</ng-template>

<ng-template #popTemplate>
  <table class="table table-sm popoverInfos">
    <tr>
      <th>Name</th>
      <td>{{musicFile.name}}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{musicFile.description}}</td>
    </tr>
    <tr>
      <th>Genre</th>
      <td>{{musicFile.style}}</td>
    </tr>
    <tr>
      <th>Key signature</th>
      <td>{{musicFile.tonality}}</td>
    </tr>
    <tr>
      <th>Tempo</th>
      <td>{{musicFile.tempo}}</td>
    </tr>
    <tr>
      <th>Instruments</th>
      <td>{{musicFile.instruments}}</td>
    </tr>
    <tr>
      <th>Author</th>
      <td><a href routerLink="/publicAccount/{{musicFile.user_id}}">{{musicFile.user_name}}</a></td>
    </tr>
    <tr>
      <th>Likes</th>
      <td>{{numberLikes}}</td>
    </tr>
 </table>
</ng-template>
