h3 {
    margin:0;
}

.video-container {
    position: relative;
    padding-bottom: 75%;
    height: 0; 
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title_music {
    white-space: nowrap;
    line-height: 14px;
    width:100%;
    font-size:12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
} 

.visible {
    display:block;
}

.invisible {
    display:none;
}

.padding-side {
    padding-left:10px;
    padding-right:10px;
}

.popoverInfos {
    max-width:500px !important;
    font-size:12px !important;
}

.popoverInfos td, .popoverInfos th {
    border: none;
}

.item_music {
    background-color:rgb(250,250,255);
    border-radius:5px;
    overflow:hidden;
    color:black;
    margin-top:15px;
    margin-bottom:15px;
    opacity:0.99;
}

.shadow {
    -moz-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -webkit-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -o-box-shadow: 0px 0px 5px 2px #cfcfcf;
    box-shadow: 0px 0px 5px 2px #cfcfcf;
}

/*.item_music:hover {
    opacity:0.9;
    -moz-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -webkit-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -o-box-shadow: 0px 0px 20px 5px #cfcfcf;
    box-shadow: 0px 0px 20px 5px #cfcfcf;
}*/

.item_music:hover .item_music_image img {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.buttonMusicFile {
    /* background-color: white;
    border-style:solid;
    border-width:1px;
    cursor:pointer;
    font-size:15px;
    padding-top:5px;
    padding-bottom:5px;
    border-color:rgb(221, 221, 221);
    color:black;
    border-radius:5px; */

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.buttonMusicFile:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    top: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.buttonMusicFile:hover {
    background-color: grey;
    text-decoration: none;
}

.buttonLeft {
    border-bottom-left-radius: 5px;
}

.buttonRight {
    border-bottom-right-radius: 5px;
}

.footer_item_music {
    bottom:0px;
    padding:10px;
}

.item_music_image {
    position:relative;
    width:100%;
    height:auto;
    color:white;
}

.item_music_image_loading {
    position:relative;
    width:100%;
    padding:40%;
    height:auto;
    color:white;
}

.icon_band {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height:20px;
}

.icon_volume {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.icon_play {
    text-align:center;
}

.icon_item_music {
    float:left;
    margin:5px;
    cursor: pointer;
    width:20px;
    height:20px;
    mix-blend-mode: difference;
}

.icon_item_music:hover {
    transform: scale(1.1);
}

.icon_item_delete {
    float:right;
    margin:5px;
    cursor: pointer;
    width:20px;
    height:20px;
    mix-blend-mode: difference;
}

.icon_item_delete:hover {
    transform: scale(1.1);
}

.icon_item_play {
    position:relative;
    width:auto;
    height:50px;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    mix-blend-mode: difference;
}

.icon_item_play:hover {
    transform: scale(1.1);
    -webkit-animation: shake 2s infinite; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: shake 2s infinite; /* Firefox < 16 */
        -ms-animation: shake 2s infinite; /* Internet Explorer */
         -o-animation: shake 2s infinite; /* Opera < 12.1 */
            animation: shake 2s infinite;
}

@keyframes shake {
    0% { transform: rotateZ(0deg); }
    25% { transform: rotateZ(45deg); }
    50% { transform: rotateZ(0deg); }
    75% { transform: rotateZ(-45deg); }
}

.rowTitle {
    background-color: rgba(255,255,255,0.8);
    padding-bottom:10px;
    padding-top:10px;
}

.links {
    position:absolute;
    bottom:0px;
    left:0px;
}

.bounce {
    text-decoration: none;
    color:white;
    text-align: center;
    /* background: linear-gradient(-90deg, rgb(230,230,240), rgb(245,245,255)); */
    background:transparent;
    cursor:pointer;
}

/* Bounce To Right */
.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(32, 152, 209,0.5);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white;
  }
  .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }

  /* Bounce To Left */
.hvr-bounce-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(32, 152, 209,0.5);;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
    color: white;
  }
  .hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }

.buttonForm {
    background:white;
    border-style:solid;
    border-width:2px;
    margin:2px;
    padding: 0.5rem 0.8rem;
    cursor:pointer;
    color: #52d3aa;
    border-color:#52d3aa;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.buttonForm:hover {
    background-color:#52d3aa;
    color: white;
}

.redOption {
    color: #d35400;
    border-color:#d35400;
}

.redOption:hover {
    background-color:#d35400;
    color: white;
}

.icon_share {
    height:30px;
    width:30px;
}

.button_share {
    background: white;
    border-width: 0px;
    width:50px;
    padding:10px;
    cursor: pointer;
}

.facebook {
    color: #4267B2;
}

.twitter {
    color: #00acee;
}

.whatsapp {
    color: #25D366;
}

.linkedin {
    color: #006fa6;
}

.share-template {
    display: inline;
    text-align: center;
}
