<div class="margin-top container">
    <div class="row">
        <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Log in</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2 subtext to-animate">
                    <h3>And use all the power of automatic composition</h3>
                </div>
            </div>
        </div>
    </div>    
    <div *ngIf="noEmail" class="row justify-content-md-center">
        <div class="col">
            <p class="alertMessage">Email not verified, please check your mail box to confirm your e-mail</p>
        </div>
    </div>  
    <form [formGroup]="userForm" (ngSubmit)="login()">
        <div class="row justify-content-md-center inputContainer">
            <div class="col-md-4">
                <label>
                    <input [formGroup]="userForm" formControlName="username" type="text" #username/>
                    <div [class.withValue]="userForm.controls.username.value" class="label-text">Username</div>
                    <div class="underline" [class.waiting]="userForm.controls.username.pending" [class.invalid]="!userForm.controls.username.valid && (userForm.controls.username.dirty|| submitAttempt) && !userForm.controls.username.pending"></div>
                    <div *ngIf="userForm.controls.username.pending" class="label-text-bis">Checking username...</div>
                    <div *ngIf="!userForm.controls.username.valid && !userForm.controls.username.pending && (userForm.controls.username.dirty || submitAttempt)" class="label-text-bis">Sorry, that username can not be used!</div>
                </label>
            </div>
            <div class="col-md-4">
                <label>
                    <input type="password" [formGroup]="userForm" formControlName="password"/>
                    <div [class.withValue]="userForm.controls.password.value" class="label-text">Password</div>
                    <div class="underline" [class.waiting]="userForm.controls.password.pending" [class.invalid]="!userForm.controls.password.valid && (userForm.controls.password.dirty|| submitAttempt) && !userForm.controls.password.pending"></div>
                    <div *ngIf="!userForm.controls.password.valid  && (userForm.controls.password.dirty || submitAttempt)" class="label-text-bis">Please enter a valid password.</div>
                </label>
             </div>
        </div>

        <div class="row marginTopBis customAlign justify-content-md-center">
            <div class="col-md-4">
                <button type="submit" [disabled]="!userForm.valid" class="buttonForm green-button">Done</button>
            </div>
        </div>
        <div class="row marginTopRegister customAlign justify-content-md-center">
            <div class="col-md-4">
                <a class="linkRegister" [routerLink]="['/register']" >Create an account</a>
            </div>
        </div>
        <div class="row marginTopRegister customAlign justify-content-md-center">
            <div class="col-md-4">
                <a class="linkRegister" [routerLink]="['/recover']" >Forgotten password ?</a>
            </div>
        </div>
        
    </form>
</div>
