.modal_login {
    position:fixed;
    height:80%;
    width:60%;
    left:20%;
    top:10%;
    border-radius:5px;
    background-color: white;
    z-index: 9999;
}

.margin-top {
    margin-top : 100px;
    min-height: 80%;
}

.marginTopBis {
    margin-top : 30px;
}

.marginTopRegister {
    margin-top : 10px;
}

/* body {
    font-family: "Open Sans", Helvetica;
} */
  
label {
    display: block;
    letter-spacing: 4px;
    /* padding-top: 30px; */
    text-align: center;
}

label .label-text {
    color: #929292;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
}

label .label-text-bis {

    color: #929292;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.3s;
}

label input {
    background-color: transparent;
    border: 0;
    /* border-bottom: 2px solid #52d3aa; */
    color: #3a3a3a;
    font-size: 24px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    /* width: 50%; */
}

.customAlign {
    text-align:center;
}

/* .buttonForm {
    background:white;
    border-style:solid;
    border-width:2px;
    margin-left:auto;
    margin-right:auto;
    padding: 0.5rem 0.8rem;
    cursor:pointer;
    color: #52d3aa;
    border-color:#52d3aa;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.buttonForm:hover {
    background-color:#52d3aa;
    color: white;
} */

.buttonCancel {
    border-color:#EB6864;
}

.underline {
    border-bottom: 2px solid #52d3aa;
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.invalid {
    border-bottom-color: #EB6864 !important;
}

.waiting {
    -webkit-animation: sizechange 2s infinite; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: sizechange 2s infinite; /* Firefox < 16 */
        -ms-animation: sizechange 2s infinite; /* Internet Explorer */
         -o-animation: sizechange 2s infinite; /* Opera < 12.1 */
            animation: sizechange 2s infinite;
}

@-webkit-keyframes sizechange {
    0%, 100% {
        border-bottom-color: #f39c12;
        width: 80%;
      }
    
      50% {
        border-bottom-color: #EB6864;
        width: 50%;
      }
}

@keyframes sizechange {
    0%, 100%  {
        border-bottom-color: #f39c12;
        width: 80%;
      }
    
      50% {
        border-bottom-color: #EB6864;
        width: 50%;
      }
}

label input:focus {
    width: 80%;
}

label input:focus + .label-text {
    color: #929292;
    font-size: 13px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
    /* text-align:left; */
}

.linkRegister {
    color:#52d3aa;
}

.withValue {
    font-size: 13px !important;
    -moz-transform: translateY(-74px) !important;
    -ms-transform: translateY(-74px) !important;
    -webkit-transform: translateY(-74px) !important;
    transform: translateY(-74px) !important;
    /* text-align:left !important; */
}

/* label input:valid + .label-text {
    font-size: 13px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
} */

.alertMessage {
    color:#eb4d4b;
    text-align:center;
    font-weight: bold;
}

.inputContainer {
    margin-top:50px;
}