<form [formGroup]="userForm" (ngSubmit)="save()" class="userFormPassword">
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <label>
        <input type="password" [formGroup]="userForm" formControlName="password"/>
        <div [class.withValue]="userForm.controls.password.value" class="label-text">Password</div>
        <div class="underline" [class.waiting]="userForm.controls.password.pending" [class.invalid]="!userForm.controls.password.valid && (userForm.controls.password.dirty|| submitAttempt) && !userForm.controls.password.pending"></div>
        <div *ngIf="!userForm.controls.password.valid  && (userForm.controls.password.dirty || submitAttempt)" class="label-text-bis">Please enter a valid password.</div>
      </label>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <label>
        <input type="password" [formGroup]="userForm" formControlName="newPassword"/>
        <div [class.withValue]="userForm.controls.newPassword.value" class="label-text">New password</div>
        <div class="underline" [class.waiting]="userForm.controls.newPassword.pending" [class.invalid]="!userForm.controls.newPassword.valid && (userForm.controls.newPassword.dirty|| submitAttempt) && !userForm.controls.newPassword.pending"></div>
        <div *ngIf="!userForm.controls.newPassword.valid  && (userForm.controls.newPassword.dirty || submitAttempt)" class="label-text-bis">Please enter a valid password.</div>
      </label>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <label>
        <input type="password" [formGroup]="userForm" formControlName="repeatNewPassword"/>
        <div [class.withValue]="userForm.controls.repeatNewPassword.value" class="label-text">Confirm new password</div>
        <div class="underline" [class.waiting]="userForm.controls.repeatNewPassword.pending" [class.invalid]="!userForm.controls.repeatNewPassword.valid && (userForm.controls.repeatNewPassword.dirty|| submitAttempt) && !userForm.controls.repeatNewPassword.pending"></div>
        <div *ngIf="!userForm.controls.repeatNewPassword.valid  && (userForm.controls.repeatNewPassword.dirty || submitAttempt)" class="label-text-bis">Please enter a valid password.</div>
      </label>
    </div>
  </div>
  <div class="row customAlign justify-content-md-center">
    <div class="col-md-4">
      <button type="submit" [disabled]="!userForm.valid" class="buttonForm buttonAccept">Done</button>
    </div>
  </div>
</form>
