<div class="row row-bottom-padded-md">
  <div class="col-md-6 to-animate">
    <!-- <h3>Contact Info</h3> -->
    <ul class="fh5co-contact-info">
      <li class="fh5co-contact-address ">
        <div class="icons_contact svgCurrentColor" [inlineSVG]="'/assets/white/svg/home.svg'"></div>
        Saint-Lieux-Lès-Lavaur, Tarn, FRANCE
      </li>
      <!-- <li><div class="icons_contact" [inlineSVG]="'/assets/white/svg/phone.svg'"></div> (+33)6 42 22 21 09</li> -->
      <li><div class="icons_contact svgCurrentColor" [inlineSVG]="'/assets/white/svg/envelope.svg'"></div>murmure.codemure@gmail.com</li>
      <li><div class="icons_contact svgCurrentColor" [inlineSVG]="'/assets/white/svg/globe.svg'"></div> <a href="http://codemure.com/" target="_blank">www.codemure.com</a></li>
    </ul>
  </div>

  <div class="col-md-6 to-animate order-first">
    <!-- <h3>Contact form</h3> -->
    <form [formGroup]="contactForm" (ngSubmit)="send()">
      <label>
        <input [formGroup]="contactForm" formControlName="name" type="text" #username/>
        <div [class.withValue]="contactForm.controls.name.value" class="label-text">name</div>
        <div class="underline" [class.waiting]="contactForm.controls.name.pending" [class.invalid]="!contactForm.controls.name.valid && (contactForm.controls.name.dirty|| submitAttempt) && !contactForm.controls.name.pending"></div>
      </label>
      <label>
        <input type="email" [formGroup]="contactForm" formControlName="email" #email/>
        <div [class.withValue]="contactForm.controls.email.value" class="label-text">E-mail</div>
        <div class="underline" [class.waiting]="contactForm.controls.email.pending" [class.invalid]="!contactForm.controls.email.valid && (contactForm.controls.email.dirty|| submitAttempt) && !contactForm.controls.email.pending"></div>
        <div *ngIf="!contactForm.controls.email.valid && !contactForm.controls.email.pending && (contactForm.controls.email.dirty || submitAttempt)" class="label-text-bis">Please enter a valid e-mail.</div>
      </label>
      <label>
        <!-- <textarea cols="30" rows="5" [formGroup]="contactForm" formControlName="message"></textarea> -->
        <textarea autosize rows="1" [formGroup]="contactForm" formControlName="message"></textarea>
        <div [class.withValue]="contactForm.controls.message.value" class="label-text">Message</div>
        <!-- <div class="underline" [class.waiting]="contactForm.controls.message.pending" [class.invalid]="!contactForm.controls.message.valid && (contactForm.controls.message.dirty|| submitAttempt) && !contactForm.controls.message.pending"></div> -->
      </label>
      <div class="row justify-content-center">
        <button type="submit" [disabled]="!contactForm.valid" class="buttonForm green-button">Send</button>
      </div>
    </form>

  </div>
</div>
