.fh5co-contact-info li {
    position: relative;
    padding: 0;
    margin: 0 0 1.5em 0;
    padding-left: 50px;
    list-style: none;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.icons_contact {
    position: absolute;
    width:30px;
    height:30px;
    left: 0;
}

.fh5co-contact-info {
    padding: 0;
    margin: 0 0 1.5em 0;
    margin-top: 50px;
}

.marginTopBis {
    margin-top : 30px;
}
  
label {
    display: block;
    letter-spacing: 4px;
    /* padding-top: 30px; */
    text-align: center;
}

label .label-text {
    color: #929292;
    cursor: text;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
}

label .label-text-bis {

    color: #929292;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.3s;
}

label input {
    background-color: transparent !important;
    border: 0;
    color: #3a3a3a;
    font-size: 14px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
}

label textarea{
    width:100%;
    border-width:0px;
    border-color:#52d3aa;
    border-bottom-width:2px;
    color: #3a3a3a;
    font-size: 14px;
    letter-spacing: -1px;
    outline: 0;
    width:50%;
}

.customAlign {
    text-align:center;
}

.underline {
    border-bottom: 2px solid #52d3aa;
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.invalid {
    border-bottom-color: #EB6864 !important;
}

.waiting {
    -webkit-animation: sizechange 2s infinite; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: sizechange 2s infinite; /* Firefox < 16 */
        -ms-animation: sizechange 2s infinite; /* Internet Explorer */
         -o-animation: sizechange 2s infinite; /* Opera < 12.1 */
            animation: sizechange 2s infinite;
}

@-webkit-keyframes sizechange {
    0%, 100% {
        border-bottom-color: #f39c12;
        width: 80%;
      }
    
      50% {
        border-bottom-color: #EB6864;
        width: 50%;
      }
}

@keyframes sizechange {
    0%, 100%  {
        border-bottom-color: #f39c12;
        width: 80%;
      }
    
      50% {
        border-bottom-color: #EB6864;
        width: 50%;
      }
}

label input:focus {
    width: 80%;
}

label input:focus + .label-text {
    color: #929292;
    font-size: 13px;
    text-align:left;
}

label textarea:focus + .label-text {
    color: #929292;
    font-size: 13px;
    text-align:left;
}

.withValue {
    font-size: 13px !important;
    text-align:left !important;
}