<div class="margin-top container">
  <div class="row">
    <div class="col-md-12 section-heading text-center">
      <h2 class="to-animate">Reset your password !</h2>
      <div class="row">
        <div class="col-md-8 offset-md-2 subtext to-animate">
          <h3>Please enter your email, we'll send you a new password</h3>
        </div>
      </div>
    </div>
  </div>      
  <form [formGroup]="userForm" (ngSubmit)="save()">
    <div class="row justify-content-md-center">
	    <div class="col-md-4">
	      <label>
	        <input type="email" [formGroup]="userForm" formControlName="email" #email/>
	        <div [class.withValue]="userForm.controls.email.value" class="label-text">E-mail</div>
	        <div class="underline" [class.waiting]="userForm.controls.email.pending" [class.invalid]="!userForm.controls.email.valid && (userForm.controls.email.dirty|| submitAttempt) && !userForm.controls.email.pending"></div>
	        <div *ngIf="!userForm.controls.email.valid && !userForm.controls.email.pending && (userForm.controls.email.dirty || submitAttempt)" class="label-text-bis">Please enter a valid e-mail.</div>
	      </label>
	    </div>
    </div>
    <div class="row marginTopBis customAlign justify-content-md-center">
      <div class="col-md-4">
        <button type="submit" [disabled]="!userForm.valid" class="buttonForm buttonAccept">Done</button>
      </div>
    </div>
  </form>
</div>
