#items {
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    background-color: #52d3aa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    padding-top: 100px;
    padding-bottom: 10px;
}

#items:before {
    top: 0;
    margin-top: -35px;
}

#items:before, #items:after {
    position: absolute;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#items:after {
    bottom: 0;
    margin-bottom: -35px;
}

.sheet {
    border-radius:5px;
    overflow:hidden;
    color:black;
    margin-bottom: 10px;
    -moz-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -webkit-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -o-box-shadow: 0px 0px 20px 5px #cfcfcf;
    box-shadow: 0px 0px 20px 5px #cfcfcf;
}

.customWidth {
    width:70%;
}

.marginCustom {
    margin-right:15px;
    margin-left:15px;
}

.icon_band img{
    position:relative;
    height:100%;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
}

.margin-top {
    margin-top:100px;
    position:relative;
}

.icon_band {
    position: absolute;
    height: 80px;
    color:black;
    padding:15px;
    width:100%;
    padding-right:45px;
}

.icon_band .iconDownload{
    position:relative;
    height:100%;
    width:auto;
    cursor:pointer;
    fill: currentColor;
    /* display: inline-block; */
    z-index: 1;
    color:black;
    float:right;
}

.icon_band .iconDownload:hover{
    transform:scale(1.1);
    color:rgb(50,50,50);
}

.icon_band .iconBack {
    position:relative;
    height:100%;
    width:auto;
    cursor:pointer;
    fill: currentColor;
    /* display: inline-block; */
    z-index: 1;
    color:black;
}

.icon_band .iconBack:hover{
    transform:scale(1.1);
    color:rgb(50,50,50);
}

.buttonSelect {
    width: 100%;
    left:0;
    top:0;
    text-align: center;
    transition: opacity .35s ease;
}
  
.containerProfilePicture:hover .buttonSelect {
    opacity: 1;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0.8rem;
    border-radius:5px;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-1 + label {
    color: #52d3aa;
    border-style:solid;
    border-width:2px;
    border-color:#52d3aa;
    background-color: rgba(255,255,255,0.8);
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    color: white;
    background-color: #52d3aa;
}