<accordion-group  heading="mesure {{styleMesureTempsFortForm.value.mesure}} / temps forts {{styleMesureTempsFortForm.value.tempsFort}}">
  <form [formGroup]="styleMesureTempsFortForm" (ngSubmit)="save()">
    <p class="catSettings">Mesure</p>
    <div class="slidecontainer row">
      <select formControlName="mesure">
        <option *ngFor="let dur of listDurationChord" [ngValue]="dur.id">{{dur.name}}</option>
      </select>
    </div>
  
    <p class="catSettings">Temps forts</p>
    <div class="slidecontainer row">
      <select multiple formControlName="tempsFort">
        <option *ngFor="let t of listTempsForts" [ngValue]="t.id">{{t.name}}</option>
      </select>
    </div>
  
    <p class="catSettings">Et / Ou<span class="valueInput"> {{styleMesureTempsFortForm.value.etOu}}</span></p>
    <div class="row">
      <input type="radio" formControlName="etOu" [value]="true"> Et
      <br>
      <input type="radio" formControlName="etOu" [value]="false"> Ou
    </div>

    <button type="submit" [disabled]="!styleMesureTempsFortForm.valid" class="buttonForm buttonAccept">Done</button>
		<button (click)="delete()" class="buttonForm buttonAccept">Delete</button>
  </form>
</accordion-group>
