<!-- <div *ngIf="message" class="alertSide" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">{{message.text}}</div> -->
<alert *ngIf="message" class="alertTop" [type]="message.type" [dismissible]="message.dismissible" [dismissOnTimeout]="message.timeout">{{message.text}}</alert>
