.alertTop {
    position: fixed;
    top: 90px; 
    left:2%;
    width: 30%;
    z-index:10;
}

.alert-md-color {
    background-color: #7B1FA2;
    border-color: #4A148C;
    color: #fff;
}