<!-- <div id="items">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading white-color text-center">
        <h2 class="to-animate">Auto generated score</h2>
        <div class="row">
          <div class="col-md-8 offset-md-2 subtext to-animate fadeInUp animated">
            <h3>This is the score generated with your parameters, it's certainly not perfect but I'm pretty sure you can do something about it.</h3>
          </div>
          <div class="icon_band">
            <img src="../assets/white/svg/download.svg" (click)="toggleVisible()" title="Download"> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container margin-top">
  <div class="icon_band">
    <a [routerLink]="['../infoScore']" class="iconBack iconSvg svgCurrentColor" [inlineSVG]="'/assets/white/svg/arrow-circle-o-left.svg'" title="Back"></a>
    <a [href]="fileUrl | safe" download="{{musicDetails?.name}}.xml" class="iconDownload iconSvg svgCurrentColor" [inlineSVG]="'../assets/white/svg/download.svg'" title="Download musicXml file"></a>
  </div>
  <div #score class="sheet"></div>
</div>
