<!-- Navigation -->
<nav [ngClass]="{'navbar-transparent': navbarTransparent, 'navbar-white': !navbarTransparent}" class="navbar fixed-top navbar-expand-lg navbar-dark">
   <!--[@navbarTransparent]="state"  --> 
  <div class="container">
    <a [ngClass]="{'text-black':!navbarTransparent}" class="navbar-brand" href="#" routerLink="/mainPage">
        <img class="logo" src="assets/logoMure.png">
          MurMûre
    </a>
    <button [ngClass]="{'navbar-light':!navbarTransparent}" class="navbar-toggler navbar-toggler-right" type="button" (click)="openMenu($event)" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <div class="barsMenu svgCurrentColor" [ngClass]="{'text-black':!navbarTransparent}" [inlineSVG]="'/assets/white/svg/bars.svg'" ></div>
    </button>
    <div class="collapse navbar-collapse" [collapse]="!isExpanded" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto customAlign">
        <li class="nav-item">
          <a [ngClass]="{'text-black':!navbarTransparent}" class="nav-link nav-link-underline anim1" href="#" [routerLink]="['myMusic', { outlets: { primary:'myMusicsList', aux: 'player' } }]" >My music</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'text-black':!navbarTransparent}" class="nav-link nav-link-underline anim2" [routerLink]="['mainPage']" fragment="services" href="#">How it works</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'text-black':!navbarTransparent}" class="nav-link nav-link-underline anim3" [routerLink]="['mainPage']" fragment="about" href="#">About</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'text-black':!navbarTransparent}" class="nav-link nav-link-underline anim4" [routerLink]="['mainPage']" fragment="contact" href="#">Contact</a>
        </li>
        <li *ngIf="currentUser" class="dropdown" dropdown>
          <a [ngClass]="{'text-black':!navbarTransparent}" class="dropdown-toggle nav-link accountLinkContainer anim5" href dropdownToggle (click)="stopPropagation($event)">
            <div class="accountLink">
              <img class="item_music_image_loading" *ngIf="!loaded" src="assets/profile.png"/>
              <img [hidden]="!loaded" (load)="loaded = true" *ngIf="currentUser && currentUser.id" urlData="/api/users/download/" [appAvatar]="currentUser?.id" [random]="random" width="100%" height="auto" />
            </div>
            <span>{{currentUser.username}}</span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#" [routerLink]="['account']">Account</a></li>
            <li *ngIf="currentUser.superUser" role="menuitem"><a class="dropdown-item" href [routerLink]="['administration']" >Admin page</a></li>
            <li role="menuitem"><a class="dropdown-item" href (click)="logout()" >Logout</a></li>
          </ul>
        </li>
        <li *ngIf="!currentUser" class="nav-item">
          <a href="#" [ngClass]="{'text-black':!navbarTransparent}" class="nav-link nav-link-underline anim5" [routerLink]="['login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<alertDiv></alertDiv>
<router-outlet></router-outlet>

<footer class="items">
  <div class="linearGradient linearGradientTop">
      <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 64 4'
      preserveAspectRatio="none"
      fill='white'>
      <path d='M0 4 L64 4 L64 0 C64 4.25 64 3.166666666666666 0 0 Z' />
    </svg>
  </div>
  <div class="container">
    <p id="copyright" class="m-0 text-center text-white">&copy; Code Mûre 2018 |
      <a class="linkConditions" href="/privacyPolicy">Privacy policy</a>
       | 
      <a class="linkConditions" href="/termsAndConditions">Terms and conditions</a>
    </p>
  </div>
</footer>


