.navbar {
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.navbar-brand {
    font-family:'Cookie',cursive;
    font-size: 40px;
    padding:0px;
}

.navbar-white {
    background-color: #f5f6fa;
}

.navbar-transparent {
    background-color: rgba(0,0,0,0);
}

.logo {
    position:relative;
    height:40px;
    width:40px;
    vertical-align: sub;
}

.navbar-brand:hover .logo {
    animation-name: breathe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes breathe {
    0%    {width:40px; height:40px;}
    40%     {width:34px;  height:34px; margin-bottom:3px; margin-right: 3px;  margin-left:3px;}
    60%     {width:38px;  height:38px; margin-bottom:1px; margin-right: 1px;  margin-left:1px;}
    90%     {width:30px;  height:30px; margin-bottom:5px; margin-right: 5px;  margin-left:5px;}
    100%     {width:36px;  height:36px; margin-bottom:2px; margin-right: 2px;  margin-left:2px;}
}

.nav-link {
    position:relative;
    color:white !important;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.5em;
}

.nav-link-underline:after {
    content: "";
    position: relative;
    display: block;
    width: 0%;
    height: 2px;
    background: white;
    bottom: -5px;
}

.text-black {
    color:rgb(119,119,119) !important;
    opacity:0;
    animation-name: slideFromTop;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.text-black:after {
    background-color:rgb(119,119,119);
}

.anim2 {
    animation-delay:100ms;
}

.anim3 {
    animation-delay:200ms;
}

.anim4 {
    animation-delay:300ms;
}

.anim5 {
    animation-delay:400ms;
}

.nav-link-underline:hover:after {
    animation-name: bounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes bounce {
    0%    {width:0%; left:50%}
    40%     {width:90%; left:5%}
    60%     {width:60%; left:20%}
    100%      {width:100%; left:0%}
}

@keyframes slideFromTop {
    from    {bottom: 50px;}
    to      {bottom:0px; opacity:1;}
}

.fixed-top {
     width: 100%; 
     max-width: 100vw;
}

.navbar-dark .navbar-toggler {
    color: white;
    /*border-color: white;*/
    border-width: 0px;
    line-height: 0;
    /*border-radius: 0;*/
}

.barsMenu {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    /*content: "";*/
    /*background-image: url("../assets/white/svg/bars.svg");*/
 /*   background: no-repeat center center;
    background-size: 100% 100%;*/
}

.accountLinkContainer {
    display: table;
}

.accountLinkContainer span {
    vertical-align: middle;
    display: table-cell;
    padding-left:10px;
    padding-right:10px;
}

.accountLink {
    position:relative;
    height:40px;
    width:40px;
    overflow:hidden;
    border-radius:20px;
    vertical-align: middle;
    display: table-cell;
}

.accountLink img {
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    object-fit: cover;
    vertical-align: middle;
    display: table-cell;
}

.customAlign {
    align-items: center;
}

.iconDown {
    height:20px;
    width:auto;
    mix-blend-mode: difference;
}

.dropdown-item:active{
    color: #151515 !important;
    text-decoration: none;
    background-color: #f8f9fa !important;
}

.dropdown-toggle::after {
    vertical-align: sub;
}

.dropdown-menu {
    border-radius:0 !important;
}

#copyright {
    position:relative;
    color:white;
    z-index: 3;
}

.linkConditions {
    font-size:15px;
    color:white;
}

.linkConditions:hover .linkConditions:active  {
    color:white;
}
