.usernameTitle {
    text-align: left;
    color: #3a3a3a;
    margin-top:15px;
}

.usernameTitle span{
    font-weight: 100;
}

.smallInfos {
    text-align: left;
    color: #929292;
    font-size: 18px;
    padding-bottom:15px;
    border-bottom-color: #bdc3c7;
    border-bottom-style: solid;
    border-bottom-width:1px;
}

.tableInfos {
    margin-top:15px;
    width:100%;
}

.tableInfos th{
    color: #3a3a3a;
    font-size: 11px;
    cursor: text;
    line-height: 25px;
    text-transform: uppercase;
    text-align:left;
    white-space: nowrap;
    vertical-align:top;
}

.tableInfos td{
    padding-left:15px;
    color: #929292;
    font-size: 16px;
    letter-spacing: -1px;
    outline: 0;
    text-align:left;
}

.tableInfos pre{
    color: #929292;
    font-size: 16px;
    letter-spacing: -1px;
    outline: 0;
    text-align:left;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.getPremium {
    color: #52d3aa;
}
