<div>
  <h4 class="usernameTitle"><span>I'm</span> {{currentUser?.username}}</h4>
  <p class="smallInfos">{{who}}</p>
  <table class="tableInfos">
    <tr *ngIf="origin === 'account'">
      <th>E-mail</th>
      <td>{{currentUser?.email}}</td> 
    </tr>
    <tr>
      <th>Interested in</th>
      <td>{{instruments}}</td> 
    </tr>
    <tr>
      <th>Description</th>
      <td><pre>{{currentUser?.description}}</pre></td> 
    </tr>
    <tr *ngIf="subscriptionOption">
      <th>Subscription</th>
      <td>{{subscriptionOption?.name}}  ( {{subscriptionOption?.musicsPerDay}} music(s) / day ) 
        <br />
        <p>until {{subscriptionUser?.end_date | date}}</p>
        <a class="getPremium" href="#" [routerLink]="['/subscribe']">Get premium</a>
      </td> 
    </tr>
  </table>
</div>