.gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%; 
    z-index: 2;
    opacity: .3;
    -webkit-backface-visibility: hidden;
    background-color: #52d3aa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
}

.items-top {
    /* background-image: url("/assets/fille-violon.jpg"); */
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainTitle {
    margin-top: 100px;
    margin-bottom: 100px;
    padding:0;
}

.try {
    position:relative;
    z-index: 3; 
}

.image-half {
    position:absolute;
    right:0;
    top:0;
    width:50%;
    height:100%
}

.custom-margin {
    margin-top: 100px;
    margin-bottom: 100px;
}

.margin-side {
    margin-right:50px;
    margin-left:50px;
}

.no-padding {
    padding:0;
}
