<div class="items items-top no-padding" [style.backgroundImage]="'url(/assets/' + this.urlImage + ')'">
	<div class="gradient"></div>
	<section class="try" data-section="try">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 align-self-start">
					<div class="container custom-margin">
						<div class="row">
							<div class="col-md-12 section-heading text-center white-color mainTitle">
								<h1 appBubbles>AI Music<br>composer</h1>
								<!-- <div class="row">
									<div class="col-md-8 offset-md-2 subtext">
										<h3>Choose your musical instruments, Pick your style and Create the perfect music sheet for you</h3>
									</div>
								</div> -->
							</div>
						</div>
						<div class="row justify-content-center">
								<button (click)="compose()" class="buttonForm btn-hover color-10 margin-side col">Compose your first music</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="linearGradient">
			<svg
			xmlns='http://www.w3.org/2000/svg'
			viewBox='0 0 64 4'
			preserveAspectRatio="none"
			fill='white'>
			<path d='M0 4 L64 4 L64 0 C64 4.25 64 3.166666666666666 0 0 Z' />
		</svg>
	</div>
</div>