<header>
  <app-main-image></app-main-image>
</header>

<section id="fh5co-about" data-section="try">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center grey-color">
        <h2 [appAnimateTitle]="'Play me'" class="to-animate"></h2>
        <div class="row">
            <!-- #subtitleTry [style.opacity]="opacity(subtitleTry)" -->
          <div class="col-md-8 offset-md-2 subtext">
              <!-- , you can then play it, download the music score and upload a video clip of your performance, let's be creative ! -->
            <h3>Randomly picked for you</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row relativePosition justify-content-md-center">
      <div class="col-md-8 scoreContainer">
        <div #score class="sheet"></div>
      </div>
      <div class="circle" [@slideIn]="true">
        <div class="play-button svgCurrentColor" [inlineSVG]="'/assets/white/svg/play-circle.svg'" *ngIf="playVisible" (click)="playAudio()"></div>
        <div class="pause-button svgCurrentColor" [inlineSVG]="'/assets/white/svg/pause-circle.svg'" *ngIf="!playVisible" (click)="playAudio()"></div>
      </div>
      <div id="waveform" #waveform></div>
    </div>
  </div>
  
</section>

<div class="animated items" #musicF>
  <div class="linearGradient linearGradientTop">
      <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 64 4'
      preserveAspectRatio="none"
      fill='white'>
      <path d='M0 4 L64 4 L64 0 C64 4.25 64 3.166666666666666 0 0 Z' />
    </svg>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading white-color text-center">
        <h2 [appAnimateTitle]="'weekly top'" class="to-animate"></h2>
        <div class="row">
          <div class="col-md-8 offset-md-2 subtext animated">
              <!-- These are the 8 best shared musics of this week, feel free to listen, share or take them to create your own music ! -->
            <h3>Enjoy, listen, share</h3>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mFilesState" class="row" [@slideIn]="musicFiles.length">
      <app-music-file class="col-lg-3 col-sm-6" 
      *ngFor="let mFile of musicFiles" [topMusic]="true" [musicFile]="mFile"></app-music-file>
    </div>
  </div>
  <div class="linearGradient">
			<svg
			xmlns='http://www.w3.org/2000/svg'
			viewBox='0 0 64 4'
			preserveAspectRatio="none"
			fill='white'>
			<path d='M0 4 L64 4 L64 0 C64 4.25 64 3.166666666666666 0 0 Z' />
		</svg>
	</div>
</div>

<section id="services" data-section="services">
  <app-services-carousel></app-services-carousel>
</section>

<section class="items" id="about" data-section="about">
  <div class="linearGradient linearGradientTop">
      <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 64 4'
      preserveAspectRatio="none"
      fill='white'>
      <path d='M0 4 L64 4 L64 0 C64 4.25 64 3.166666666666666 0 0 Z' />
    </svg>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading white-color text-center">
        <h2 [appAnimateTitle]="'About'" class="to-animate"></h2>
        <div class="row">
          <div class="col-md-8 offset-md-2 subtext" >
              <!-- The main idea behind this product is fun !<br>I wanted to create something different, something which could surprise you composing totaly unexpecting things.<br>Sometimes good, sometimes really...original, but always unique ! -->
            <h3>We compose music for you</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <app-profile class="col-md-6" *ngFor="let worker of listWorkers" [worker]="worker"></app-profile>
    </div>
  </div>
  <div class="linearGradient">
			<svg
			xmlns='http://www.w3.org/2000/svg'
			viewBox='0 0 64 4'
			preserveAspectRatio="none"
			fill='white'>
			<path d='M0 4 L64 4 L64 0 C64 4.25 64 3.166666666666666 0 0 Z' />
		</svg>
	</div>
</section>

<section id="contact" data-section="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center grey-color">
        <h2 [appAnimateTitle]="'Get In Touch'" class="to-animate"></h2>
        <div class="row">
          <div class="col-md-8 offset-md-2 subtext" >
            <h3>Question, remark or reclaim</h3>
          </div>
        </div>
      </div>
    </div>
    <app-contact></app-contact>

  </div>
</section>
