.marginTop {
    margin-top:-200px;
}

.noPadding {
    padding-right:0px;
    padding-left:0px;
}

.animated {
    -webkit-animation-duration: 1s;
    /* animation-duration: 1s; */
    -webkit-animation-fill-mode: both;
    /* animation-fill-mode: both; */
}

/* .to-animate {
    -webkit-animation: animated-title 400ms forwards;
    animation: animated-title 400ms forwards;
} */

/* @keyframes animated-title {
    0% {
        bottom:20px;
        opacity:0;
    }
    100% {
        bottom:0;
        opacity: 1;
    }
} */

.circle {
    position:absolute;
    height:80px;
    width:80px;
    margin-left:-40px;
    z-index: 3;
    cursor:pointer;
    left: 50%;
    top:50%;
    margin-top:-40px;
    /* background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
     background-size: 300% 100%; */
    /* color:linear-gradient(to right, #ed6ea0, #ec8c69); */
    color:#ed6ea0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.play-button, .pause-button {
    height:80px;
    width:80px;
}

.circle:hover {
    /* background-position: 100% 0; */
    color: #f7186a;
}

.circle:focus {
    outline: none;
}

/* .button-play {
    -webkit-mask-image: url(assets/white/svg/play-circle.svg);
    mask-image: url(assets/white/svg/play-circle.svg);
}

.button-pause {
    -webkit-mask-image: url(assets/white/svg/pause-circle.svg);
    mask-image: url(assets/white/svg/pause-circle.svg);
} */

/* .inCircle {
    position:relative;
    color:white;
    height:20vh;
    width:20vh;
    z-index: 3;
} */

/* .circle:hover {
    opacity: 1;
} */

.textServices {
    text-align:center;
}

.textServices::before {
    content: "";
    position: relative;
    display: block;
    width: 200px;
    height: 2px;
    background: #52d3aa;
    left: 50%;
    margin-left: -100px;
    bottom: 0;
    margin-bottom: 20px;
}

.scoreContainer {
    position:relative;
    max-height: 200px;
    opacity: 0.5;
    overflow: hidden;
    width:100%;
    margin-bottom: -65px;
}

.sheet {
    position:relative;
    top: -65px;
}

.sheet svg {
    width:100% !important;
}

.relativePosition {
    position:relative;
}
