<div class="container margin-top">
    <div class="row">
        <div class="col-md-12 section-heading text-center">
            <h2 *ngIf="success" class="to-animate">Welcome</h2>
            <h2 *ngIf="!success" class="to-animate">We're sorry</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2 subtext to-animate">
                    <h3 *ngIf="success">Thank you for confirming your e-mail adress.</h3>
                    <h3 *ngIf="!success">An error occured, please try again or contact us.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
