<div class="cardSubscription">
  <div class="headerSubscription" [ngClass]="{'selected':selected}">
    <!-- <div class="iconSubscription"></div> -->
    <h3 class="titleSubscription">{{subscriptionOption?.name}}</h3>
    <p class="price">{{subscriptionOption?.durationInDays}} days</p>
    <h2>{{subscriptionOption?.pricePerYear}} €</h2>
    <div *ngIf="selected && !account" class="whiteSpace"></div>
    <p class="price" *ngIf="account">{{subscriptionOption?.musicsPerDay}} music / day</p>
    <!-- (ngSubmit)="save()"  [formGroup]="subscriptionForm"-->
    <form ngNoForm action="https://paiement.systempay.fr/vads-payment/" target="_blank" method="POST">  
      <input type="hidden" name="vads_action_mode" [(ngModel)]="model.vads_action_mode"/>
      <input type="hidden" name="vads_amount" [(ngModel)]="model.vads_amount"/>
      <input type="hidden" name="vads_ctx_mode" [(ngModel)]="model.vads_ctx_mode"/>
      <input type="hidden" name="vads_currency" [(ngModel)]="model.vads_currency"/>
      <input type="hidden" name="vads_page_action" [(ngModel)]="model.vads_page_action"/>
      <input type="hidden" name="vads_payment_config" [(ngModel)]="model.vads_payment_config"/>
      <input type="hidden" name="vads_site_id" [(ngModel)]="model.vads_site_id"/>
      <input type="hidden" name="vads_trans_date" [(ngModel)]="model.vads_trans_date"/>
      <input type="hidden" name="vads_trans_id" [(ngModel)]="model.vads_trans_id"/>
      <input type="hidden" name="vads_version" [(ngModel)]="model.vads_version"/>
      <input type="hidden" name="vads_cust_email" [(ngModel)]="model.vads_cust_email"/>
      <input type="hidden" name="vads_cust_id" [(ngModel)]="model.vads_cust_id"/>
      <input type="hidden" name="vads_order_id" [(ngModel)]="model.vads_order_id"/>
      <input type="hidden" name="vads_product_amountN" [(ngModel)]="model.vads_product_amountN"/>
      <input type="hidden" name="vads_language" [(ngModel)]="model.vads_language"/>
      <input type="hidden" name="signature" [(ngModel)]="model.signature"/>
      <input *ngIf="!selected && !account" type="submit" name="payer" value="Choose" class="buttonSubscription"/>
    </form>
  </div>
  <div *ngIf="!account" class="bodySubscription">
    <p><span class="iconOptionSubscription svgCurrentColor" [inlineSVG]="'/assets/white/svg/music.svg'"></span>{{subscriptionOption?.musicsPerDay}} musics / day</p>
    <p><span class="iconOptionSubscription svgCurrentColor" [inlineSVG]="'/assets/white/svg/sliders.svg'"></span>Main settings</p>
    <p [ngClass]="{'invisible': !subscriptionOption?.advancedSettings}"><span class="iconOptionSubscription svgCurrentColor" [inlineSVG]="'/assets/white/svg/violon.svg'"></span>Advanced settings</p>
    <p [ngClass]="{'invisible': !subscriptionOption?.melodySettings}"><span class="iconOptionSubscription svgCurrentColor" [inlineSVG]="'/assets/white/svg/tape.svg'"></span>Melody personalization</p>
  </div>
</div>
