<div class="table-wrapper-scroll-y">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Email checked</th>
        <th scope="col">Newsletter</th>
        <th scope="col">Admin</th>
        <th scope="col">Subscription</th>
        <th scope="col">Duration</th>
        <th scope="col">End date</th>
        <th scope="col">Music booster</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers" (click)="getAllSubscriptionUserByUserId(user.id)" [ngClass]="{'table-success': user.subscription && user.subscription.name !== 'FREE', 'table-warning': !user.emailChecked, 'table-danger': !user.subscription || user.subscription === [] || !user.subscription.name || !user.musicBooster}">
        <th scope="row">{{user.username}}</th>
        <td>{{user.email}}</td>
        <td>{{user.emailChecked}}</td>
        <td>{{user.newsletter}}</td>
        <td>{{user.superUser}}</td>
        <td>{{user.subscription?.name}}</td>
        <td>{{user.subscriptionUser?.duration_days}}</td>
        <td>{{user.subscriptionUser?.end_date | date:'longDate'}}</td>
        <td>{{user.musicBooster}}</td>
        <td><button (click) = "openModal(modalUpdate, user)">Update</button></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<h5>List subscriptions user</h5>
<br>
<div class="table-wrapper-scroll-y">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Subscription Id</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Duration days</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sub of allSubscriptionUser">
        <th scope="row">{{sub.subscriptionId}}</th>
        <td>{{sub.start_date | date:'longDate'}}</td>
        <td>{{sub.end_date | date:'longDate'}}</td>
        <td>{{sub.duration_days}}</td>
        <td><button *ngIf="sub.subscriptionId !== 1" (click)="deleteSubUser(sub.id)">delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #modalUpdate>
  <div class="container">
    <div class="modal-body text-center row">
      <h5>What should we do ?</h5>
      <br>
      <button  type="button" class="buttonForm" *ngFor="let sub of allSubscription" (click)="selectSubscription(sub)">create {{sub.name}}</button>
      <form>
        <label>
          Name:
          <input type="text" [formControl]="numberMusic">
        </label>
        <button (click)="updateNumberMusic()">Update number musics</button>
      </form>
    </div>
  </div>
</ng-template>
