<section class="marginTop">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Newsletter</h2>
        <div class="row">
          <div class="col-md-8 offset-md-2 subtext to-animate">
            <h3>Write what you want</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <textarea></textarea>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">List users</h2>
        <div class="row">
          <div class="col-md-8 offset-md-2 subtext to-animate">
            <h3>Manage </h3>
          </div>
        </div>
      </div>
    </div>
    <app-list-users></app-list-users>
  </div>
</section>
<div class="animated items" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading white-color text-center">
        <h2 class="to-animate">Styles factory</h2>
        <div class="row">
          <div class="col-md-8 offset-md-2 subtext to-animate animated">
            <h3>Create and edit list of styles !</h3>
          </div>
        </div>
      </div>
    </div>
    <app-style-factory></app-style-factory>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Styles analyse</h2>
        <div class="row">
          <div class="col-md-8 offset-md-2 subtext to-animate animated">
            <h3>Analyse parameters of styles</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-style-analyse></app-style-analyse>
      </div>
    </div>
  </div>
</section>