.margin-top {
    margin-top:140px;
}

.infoMusic {
    color:black;
    margin-bottom: 10px;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 10px 2px #cfcfcf;
    -webkit-box-shadow: 0px 0px 10px 2px #cfcfcf;
    -o-box-shadow: 0px 0px 10px 2px #cfcfcf;
    box-shadow: 0px 0px 10px 2px #cfcfcf;
    
}

.infoContainer {
    padding-left:15px;
    padding-right:15px;
}

.titleMusicInput {
    text-align: left;
    color: #3a3a3a;
    margin-top: 15px;
    border:0;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#929292;
    font-size: 1.5rem;
    width: 100%;
    /*display:inline-block;*/
}

.titleMusicInputIcon {
    height:20px;
    width:20px;
    display:inline-block;
}

.titleMusic {
    text-align: left;
    color: #3a3a3a;
    margin-top: 15px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#929292;
}

.titleMusic span{
    color: #929292;
    font-size:16px;
}

.titleMusic span a{
    color: #929292;
}

.flexContainer {
    display: inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    width:100%;
}

.formContainer {
    position:relative;
    width:100%;
    padding-left:15px;
    padding-right:15px;
}

.formContainer textarea{
    width:100%;
    border-width:0px;
    border-bottom-width:1px;
}

.formContainer textarea:focus{
    border-bottom-width:2px;
    border-bottom-color:#52d3aa;
}

.imgProfileContainer {
    position:relative;
    height:60px;
    width:60px;
    overflow:hidden;
    border-radius:30px;
    vertical-align: middle;
    flex-shrink: 0
}

.imgProfileContainer img {
    position:absolute;
    min-height:100%;
    min-width:100%;
    top:0;
    left:0;
    object-fit: cover;
    vertical-align: middle;
}

.buttonMore {
    margin-left:auto;
    margin-right:auto;
}

.alignRight {
    float: right;
}

.addComment {
    margin-bottom:40px;
}

.circleContainer {
    text-align:left;
    margin-top:15px;
}

.titleScoreContainer {
    position:absolute;
    bottom:0;
    width:100%;
    z-index: 1;
}

.titleScore {
    font-size:18px;
    color:black;
    text-align:left;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
}

.squareBottom {
    position: relative;
    width: 100%;
    padding-bottom: 70%;
}

.optionSide {
    position: absolute;
    top:0px;
    display:flex;
    flex-direction:column;
    /*width: 100%;*/
    /*padding:5px;*/
}

.iconOptionSideContainer {
    position:relative;
    height:50px;
    width:50px;
    margin:5px;
    border-radius: 50%;
    cursor:pointer;
    box-shadow: 0px 0px 10px 2px #cfcfcf;
    background:white;
}

.iconOptionSide {
    position:absolute;
    top: 10px;
    left: 10px;
    height:30px;
    width:30px;
    color:inherit;
    cursor:pointer;
}

.iconOptionSideContainer:hover {
    box-shadow: 0px 0px 10px 5px #cfcfcf;
}

/*.iconOptionContainer {
    background:white;
    border-style:solid;
    border-width:2px;
    cursor:pointer;
    color: #52d3aa;
    border-color:#52d3aa;
    font-size: 18px;
    text-transform: uppercase;
    padding:5px;
    margin:5px;
}

.iconOptionContainer:hover {
    background-color:#52d3aa;
    color: white;
}

.iconOption {
    height:30px;
    width:30px;
    color:inherit;
    cursor:pointer;
    margin-left: auto;
    margin-right: auto;
}*/

.smallScore {
    position:absolute;
    height: 100%;
    width:100%;
    overflow:hidden;
    color:black;
    /*background: beige;*/
/*    -moz-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -webkit-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -o-box-shadow: 0px 0px 5px 2px #cfcfcf;
    box-shadow: 0px 0px 5px 2px #cfcfcf;
    border-radius:5px;*/
    
    /* -moz-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -webkit-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -o-box-shadow: 0px 0px 20px 5px #cfcfcf;
    box-shadow: 0px 0px 20px 5px #cfcfcf; */
}

.square {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 20px;
    /* border-bottom-left-radius: 20px; */
    overflow: hidden;
}

.squareBis {
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    padding-bottom: 100%;
    overflow:hidden;
/*    border-radius:5px;
    -moz-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -webkit-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -o-box-shadow: 0px 0px 5px 2px #cfcfcf;
    box-shadow: 0px 0px 5px 2px #cfcfcf;*/
    color:white;
}

.squareBis h5{
    position: absolute;
    bottom:10px;
    width:100%;
    padding-left:10px;
}

.squareBis img {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    object-fit: cover;
}

.tableInfos {
    margin-top:15px;
    width:100%;
}

.tableInfos th{
    color: #3a3a3a;
    font-size: 11px;
    cursor: text;
    line-height: 25px;
    text-transform: uppercase;
    text-align:left;
    white-space: nowrap;
    vertical-align:top;
}

.tableInfos td{
    padding-left:15px;
    color: #929292;
    font-size: 16px;
    letter-spacing: -1px;
    outline: 0;
    text-align:left;
}

.iconContainer {
    position: relative;
    width:100%;
    color:rgb(100,100,100);
    padding-left: 30px;
    font-size:16px;
}

.iconContainer .iconInfoMusic{
    position:relative;
    display:inline-block;
    height:20px;
    width:20px;
    fill: currentColor;
    z-index: 1;
    color:rgb(100,100,100);
}

.iconContainer span {
    margin-right:10px;
}

.containerComments {
    margin-top:50px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.descriptionTextarea {
    width:100%;
    border-width:2px;
    color:inherit;
    border-radius: 20px;
}

.imgLoadingContainer {
    text-align:center;
}

.imgLoading {
    height:50px;
    width:50px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profileCard-footer {
    color: #929292;
    font-weight: 700;
    width:100%;
    display: inline-flex;
}

.profileCard-footer .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
}

.profileCard-footer .one-third {
    flex: 1;
    align-self: flex-end;
    padding: 0px 6px;
    text-align:center;
    /* border-right: 1px solid #bdc3c7; */
}

.profileCard-footer .stat {
    color:#52d3aa;
}

.profileCard-footer .no-border {
    border-right: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.backgroundScore {
    position: relative;
    height: 70%;
    top: 20%;
    width: 0px;
    margin-left: auto;
    margin-right: auto;
}