<div class="container margin-top">
  <!-- <div class="row">
    <h3>{{musicDetails?.name}}</h3>
    <p>by <a href routerLink="/publicAccount/{{musicDetails?.user_id}}">{{musicDetails?.user_name}}</a></p>
  </div> -->
  <div class="infoMusic">
    <div class="row">
      <div class="col-md-4">
        <div class="square">
          <div class="squareBis">
            <img [hidden]="!loaded" (load)="loaded = true" class="item_music_image" src="{{musicDetails?.image}}">
            <img class="item_music_image_loading" *ngIf="!loaded" src="assets/loading-640_640.gif"/>
            <h5 class="profileCard-title">{{musicDetails?.user_name}}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="infoContainer">
          <input class="titleMusicInput" *ngIf="musicDetails?.user_id === currentUser?.id" [ngModel]="musicDetails?.name" (ngModelChange)="titleChange.next($event)">
          <h4 *ngIf="musicDetails?.user_id !== currentUser?.id" class="titleMusic">{{musicDetails?.name}} <span> by <a href routerLink="/publicAccount/{{musicDetails?.user_id}}">{{musicDetails?.user_name}}</a></span></h4>
          <p *ngIf="musicDetails?.user_id !== currentUser?.id">{{musicDetails?.description}}</p>
          <table class="tableInfos">
            <tr>
              <th>Genre</th>
              <td>{{musicDetails?.style}}</td>
            </tr>
            <tr>
              <th>Tempo</th>
              <td>{{musicDetails?.tempo}}</td>
            </tr>
            <tr>
              <th>Tonality</th>
              <td>{{musicDetails?.tonality}}</td>
            </tr>
            <tr>
              <th>Instruments</th>
              <td>{{musicDetails?.instruments}}</td>
            </tr>
            <tr *ngIf="musicDetails?.user_id === currentUser?.id">
              <th>Description</th>
              <td><textarea class="descriptionTextarea" rows="5" [ngModel]="musicDetails?.description" (ngModelChange)="descriptionChange.next($event)"></textarea></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container infoMusic">
    <div class="row">
      <div class="profileCard-footer clearfix">
        <div class="one-third">
          <div class="stat">{{numberComments}}</div>
          <div class="stat-value">Comments</div>
        </div>
      
        <div class="one-third">
          <div class="stat">{{numberLikes}}</div>
          <div class="stat-value">Likes</div>
        </div>
      
        <div class="one-third no-border">
          <div class="stat">{{musicDetails?.creationDate | date}}</div>
          <div class="stat-value">Creation date</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 circleContainer">
      <div class="squareBottom">
        <a href routerLink="../mainScore" #scoreOriginal class="smallScore">
          <div *ngIf="!musicDetails?.musicXml" class="backgroundScore svgCurrentColor" [inlineSVG]="'/assets/white/svg/sheet-music.svg'" ></div>
        </a>
      </div>
      <div class="optionSide">
        <div *ngIf="musicDetails?.user_id === currentUser?.id" class="iconOptionSideContainer" (click)="toggleVisibleOrigin()" >
          <div *ngIf="!musicDetails?.visible_origin" class="iconOptionSide svgCurrentColor" [inlineSVG]="'/assets/white/svg/eye-slash.svg'" title="set visible"></div>
          <div *ngIf="musicDetails?.visible_origin" class="iconOptionSide svgCurrentColor" [inlineSVG]="'/assets/white/svg/eye.svg'" title="keep for me"></div>
        </div>
        <div *ngIf="musicDetails?.visible_origin || musicDetails?.user_id === currentUser?.id" class="iconOptionSideContainer">
          <a [href]="fileUrlMainScore | safe" download="{{musicDetails?.name}}.xml" class="iconOptionSide svgCurrentColor" [inlineSVG]="'/assets/white/svg/download.svg'" title="download"></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 circleContainer">
      <div *ngIf="!musicDetails?.musicXmlModified" class="titleScoreContainer">
        <h4 class="titleScore">Modified sheet</h4>
      </div>
      <div class="squareBottom">
        <a href routerLink="../modifiedScore" #scoreModified class="smallScore">
          <div *ngIf="!musicDetails?.musicXmlModified" class="backgroundScore svgCurrentColor" [inlineSVG]="'/assets/white/svg/sheet-music.svg'" ></div>
        </a>
      </div>
      <div class="optionSide">
        <div *ngIf="musicDetails?.user_id === currentUser?.id" class="iconOptionSideContainer" (click)="toggleVisibleModified()" >
          <div *ngIf="!musicDetails?.visible_modified" class="iconOptionSide svgCurrentColor" [inlineSVG]="'/assets/white/svg/eye-slash.svg'" title="set visible"></div>
          <div *ngIf="musicDetails?.visible_modified" class="iconOptionSide svgCurrentColor" [inlineSVG]="'/assets/white/svg/eye.svg'" title="keep for me"></div>
        </div>
        <div *ngIf="musicDetails?.visible_modified || musicDetails?.user_id === currentUser?.id" class="iconOptionSideContainer">
          <a [href]="fileUrlModifiedScore | safe" download="{{musicDetails?.name}}.xml" class="iconOptionSide svgCurrentColor" [inlineSVG]="'/assets/white/svg/download.svg'" title="download"></a>
        </div>
        <div *ngIf="musicDetails?.user_id === currentUser?.id" class="iconOptionSideContainer">
          <input type="file" id="file-1" (change)="selectFile($event)"  class="inputfile" >
          <label for="file-1"><div class="iconOptionSide svgCurrentColor" [inlineSVG]="'/assets/white/svg/upload.svg'" title="upload"></div></label>
        </div>
      </div>
    </div>
    <div class="col-md-4 circleContainer">
      <div *ngIf="musicDetails?.videoId == '' || musicDetails?.videoId == null" class="titleScoreContainer">
        <h4 class="titleScore">Video</h4>
      </div>
      <div class="squareBottom">
        <div class="smallScore">
          <div *ngIf="musicDetails?.videoId == '' || musicDetails?.videoId == null" class="backgroundScore svgCurrentColor" [inlineSVG]="'/assets/white/svg/film.svg'" ></div>
          <div *ngIf="musicDetails?.videoId != '' && musicDetails?.videoId != null" class="video-container">
            <iframe type="text/html"
              [src]="'https://www.youtube.com/embed/'+musicDetails.videoId | safe"
              frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
      <div class="optionSide">
        <div *ngIf="musicDetails?.user_id === currentUser?.id" class="iconOptionSideContainer" (click)="toggleVisibleVideo()" >
          <div *ngIf="!musicDetails?.visible_video" class="iconOptionSide svgCurrentColor" [inlineSVG]="'/assets/white/svg/eye-slash.svg'" title="set visible"></div>
          <div *ngIf="musicDetails?.visible_video" class="iconOptionSide svgCurrentColor" [inlineSVG]="'/assets/white/svg/eye.svg'" title="keep for me"></div>
        </div>
        <div *ngIf="musicDetails?.user_id === currentUser?.id" class="iconOptionSideContainer">
          <input type="file" id="video-1" (change)="selectVideo($event)"  class="inputfile" >
          <label for="video-1"><div class="iconOptionSide svgCurrentColor" [inlineSVG]="'/assets/white/svg/upload.svg'" title="upload"></div></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container containerComments">
  <div class="row justify-content-md-center addComment">
    <div class="col-md-8 flexContainer">
      <div class="imgProfileContainer">
        <img urlData="/api/users/download/" [appAvatar]="currentUser?.id" [random]="random" width="100%" height="auto" />
      </div>
      <div class="formContainer">
        <form class="boxsizingBorder" [formGroup]="commentForm" (ngSubmit)="send()">
          <textarea autosize rows="1" [formGroup]="commentForm" formControlName="message" placeholder="Add a comment here"></textarea>
          <div class="row alignRight">
            <button type="submit" [disabled]="!commentForm.valid" class="buttonForm green-button">Add a comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <app-comment class="col-md-8" *ngFor="let coms of commentsMusic" [commentMusic]="coms" [currentUser]="currentUser"></app-comment>
    <div *ngIf="loadingComments" class="col-md-8 imgLoadingContainer">
      <img class="imgLoading" src="assets/loading-640_640.gif">
    </div>
  </div>
  <div *ngIf="moreVisible" class="row">
    <button class="buttonForm green-button buttonMore" (click)="addMore()">more</button>
  </div>
</div>