<div class="card h-100" #cardElement [ngClass]="visibility" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">
  <img class="backgroundImg" src="{{card.image}}">
  <h4 class="card-header">{{card.username}}</h4>
  <!-- <div class="card-body">
    <p class="card-text">{{card.text}}</p>
  </div> -->
  <div class="card-footer">
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>

<!-- {{card.link}} -->

