<div class="items-top" [style.backgroundImage]="'url(' + this.urlImage + ')'">
  <div class="gradient">
    <router-outlet name='aux'></router-outlet>
  </div>
  <div class="linearGradient">
			<svg
			xmlns='http://www.w3.org/2000/svg'
			viewBox='0 0 64 4'
			preserveAspectRatio="none"
			fill='white'>
			<path d='M0 4 L64 4 L64 0 C64 4.25 64 3.166666666666666 0 0 Z' />
		</svg>
	</div>
</div>

<div class="container margin-top" #toolbar>

  <div class="row" (mouseenter) ="illustration = true"  (mouseleave) ="illustration = false">
    <div class="cd-tab-filter-wrapper container" [ngClass]="{'fixedFilterNav':fixedFilterNav}">
      <div class="cd-tab-filter">
        <ul class="cd-filters">
          <li class="placeholder" dropdown>
            <a href id="basic-link" class="borderBottom" dropdownToggle (click)="false"
               aria-controls="basic-link-dropdown">{{getCurrentStateMusic()}}
              <div class="iconDown svgCurrentColor" [inlineSVG]="'/assets/white/svg/sort-down.svg'"></div>
            </a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="basic-link">
              <li><a href="#" class="dropdown-item" routerLink="SharedMusicsList" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shared music</a></li>
              <li><a href="#" class="dropdown-item" routerLink="myMusicsList" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My music</a></li>
            </ul>
          </li>
          <!-- <li class="filter"><a class="selected" href="#0" data-type="all">All</a></li> -->
          <li (click)="stylesVisible = !stylesVisible" class="filter filter_toggle">
            <a>
              <div *ngIf="!stylesVisible" class="iconPlus svgCurrentColor" [inlineSVG]="'/assets/white/svg/sliders.svg'"></div>
              <div *ngIf="stylesVisible" class="iconPlus svgCurrentColor" [inlineSVG]="'/assets/white/svg/times.svg'"></div>
              <span class="filterSpan">Filters</span>
            </a>
          </li>
          <li class="filter filter_music"><a href="#" routerLink="SharedMusicsList" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shared music</a></li>
          <li class="filter filter_music"><a href="#" routerLink="myMusicsList" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My music</a></li>
          <li *ngIf="!isCompositionState()" class="filter compose_toggle btn-hover color-9">
            <a href="#" [routerLink]="['/myMusic', { outlets: { aux: 'compose'} }]">
              <!-- , { outlets: {main: 'mainSettings', advanced: 'InstrumentsSettings' }}  -->
              <span class="composeSpan">Compose</span>
              <div class="iconPlus svgCurrentColor" [inlineSVG]="'/assets/white/svg/cogs.svg'"></div>
            </a>
          </li>
          <li *ngIf="isCompositionState()" class="filter compose_toggle btn-hover color-9">
            <a href="#" [routerLink]="['/myMusic', { outlets: { aux: 'player' } }]">
              <span class="composeSpan">Player</span>
              <div class="iconPlus svgCurrentColor" [inlineSVG]="'/assets/white/svg/cogs.svg'"></div>
            </a>
          </li>
        </ul> <!-- cd-filters -->
      </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
  </div>

  <div class="row relativePosition">

    <div class="cd-filter" [ngClass]="{'filter-is-visible':stylesVisible}" [style.marginTop.px]="getFilterMarginTop()" #filters>
      <div class="content-filter">
        <h5>NAME</h5>
          <ul class="maxHeight">
            <li>
              <input placeholder="search" class="linkFilterInput" [value]="filter.name" (keyup)="nameSearch.next($event.target.value)">
            </li>
          </ul>
          <h5>FAVOURITE</h5>
          <ul class="maxHeight">
            <li>
              <a class="linkFilter" [ngClass]="{'activeLink': filter.like == false}" (click)="filterByLike(false)">All</a>
            </li>
            <li>
              <a class="linkFilter" [ngClass]="{'activeLink': filter.like == true}" (click)="filterByLike(true)">Only what I like</a>
            </li>
          </ul>
          <h5>STYLES</h5>
          <ul class="maxHeight">
            <li>
              <a class="linkFilter" [ngClass]="{'activeLink': filter.style.length == 0}" (click)="filterByStyle('AllStyles')">All</a>
            </li>
            <li *ngFor="let style of stylesMusic">
              <a class="linkFilter" [ngClass]="{'activeLink': filter.style.indexOf(style.styleName.toLowerCase()) !== -1}" (click)="filterByStyle(style.styleName)">{{style.styleName}}</a>
            </li>
          </ul>
          <h5>INSTRUMENTS</h5>
          <ul class="maxHeight">
            <li>
              <a class="linkFilter" [ngClass]="{'activeLink': filter.instruments.length == 0}" (click)="filterByInstruments('AllInstruments')">All</a>
            </li>
            <li *ngFor="let instrument of midiInstruments">
              <a class="linkFilter" [ngClass]="{'activeLink': filter.instruments.indexOf(instrument.name.toLowerCase()) !== -1}" (click)="filterByInstruments(instrument.name)">{{instrument.name}}</a>
            </li>
          </ul>
        </div>
      </div> <!-- cd-filter -->

      <div class="cd-gallery" [ngClass]="{'filter-is-visible':stylesVisible}" #gallery>
        <div [ngClass]="{'illustrationAuto':illustration && !fixedFilterNav}" class="row illustrationContainer">
          <div class="col-md-6">
            <div class="illustration illustration-left">
              <div class="iconBig rotateLeft svgCurrentColor" [inlineSVG]="'/assets/white/svg/redo-1.svg'"></div>
              <span>Filter the list</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="illustration illustration-right">
              <span>Create your own music</span>
              <div class="iconBig rotateRight svgCurrentColor" [inlineSVG]="'/assets/white/svg/undo-1.svg'"></div>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
</div>