.marginTop {
    margin-top:25px;
    position:relative;
}

.maxHeight {
    max-height:300px;
    overflow-y : auto;
}

.activeLink {
    color:#52d3aa !important;
    font-weight: bold;
}

.active {
    border-bottom-style:solid;
    border-bottom-width:2px;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.sortList ul {
    padding-left:10px;
    list-style-type: none;
    line-height: 1em;
}
  
.nav-link:hover {
    color:black;
}

.floatRight {
    position:absolute;
    margin-top:-100px;
    right:0px;
}

.linkFilterInput {
    border:0;
    font-size: 14px;
    width:100%;
    border-bottom-style: solid;
    border-bottom-width:2px;
    border-bottom-color:lightgray;
}

.linkFilter {
    font-size: 14px;
    color:lightgray;
    cursor:pointer;
}

.linkFilter:hover {
    color:black !important;
    text-decoration: none;
}

.gradient {
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    z-index: 1;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    background-color: rgba(82,211,170,0.2);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, rgba(63,149,234,0.8)), color-stop(1, rgba(82,211,170,0.8)));
    background-image: -webkit-repeating-linear-gradient(top left, rgba(63,149,234,0.8) 0%, rgba(82,211,170,0.8) 100%);
    background-image: repeating-linear-gradient(to bottom right, rgba(63,149,234,0.8) 0%, rgba(82,211,170,0.8) 100%);
    background-image: -ms-repeating-linear-gradient(top left, rgba(63,149,234,0.8) 0%, rgba(82,211,170,0.8) 100%);
}

.items-top {
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.8);

    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.iconPlus {
    height:16px;
    width:16px;
    display:inline-block;
}

.cd-tab-filter-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  z-index: 1;
  width:100%;
  border-radius: 50px;
}

.cd-filter.filter-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0,0,0,.2);
    opacity: 1;
}

.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

.cd-main-content.is-fixed {
  position: fixed;
}

.filter_music {
    display: none;
}

.cd-tab-filter .filter_music:first-child {
    display: block;
}

.cd-tab-filter {
    position: relative;
    height: 50px;
    z-index: 1;

    width: 100% !important;
    float: right !important;
    margin: 0 !important;
    -webkit-transition: .3s !important;
    -moz-transition: .3s !important;
    transition: .3s !important;
}

.cd-main-content {
    position: relative;
    min-height: 100vh;
}

.cd-main-content::after {
    clear: both;
    content: "";
    display: table;
}

.cd-filters {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 -2px 0 #41307c;
    padding:0;
    background: 0 0 !important;
    position: static !important;
    box-shadow: none !important;
    text-align: center !important;
}

.filter {
    list-style: none;
    text-decoration: none;
    color:rgba(63,149,234,0.8) !important;
}

.filter a {
    font-size: 15px;
    color:rgba(63,149,234,0.8) !important;
    text-decoration: none;
    list-style: none;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0 1em ;
    width: auto ;
    text-transform: uppercase ;
    font-weight: 700 ;
}

.compose_toggle:hover {
    background-color:rgba(82,211,170,0.8) !important;
}

.filter a:hover {
    color:rgba(82,211,170,0.8) !important;
/*    text-decoration: none;
    list-style: none;*/
}

.cd-filter {
    position: absolute;
    top: 5px;
    left: 0;
    width: 280px;
    background: #fff;
    box-shadow: 4px 4px 20px transparent;
    padding: 10px;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .3s,box-shadow .3s;
    -moz-transition: -moz-transform .3s,box-shadow .3s;
    transition: transform .3s,box-shadow .3s;
    -webkit-transition: margin 1s !important;
    -moz-transition: margin 1s !important;
    transition: margin 1s !important;
    opacity: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.cd-tab-filter a.selected {
    background: #41307c;
    color: #fff;
}

.placeholder {
    position: relative;
    display: inline-block !important;
}

#basic-link {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0 1em ;
    width: auto ;
    text-transform: uppercase ;
    font-weight: 700 ;
    font-size: 15px;
    color:rgba(63,149,234,0.8) !important;
    text-decoration: none;
    list-style: none;
}

.cd-gallery {
    width: 100%;
    padding-left:15px;
    padding-right:15px;
    min-height:400px;
}

@media only screen and (min-width: 1170px) {

    .cd-filter {
        width: 20% !important;
    }

    .cd-gallery {
        -webkit-transition:  .3s !important;
        -moz-transition:  .3s !important;
        transition:  .3s !important;
    }

    .cd-gallery.filter-is-visible {
        width: 79%;
        margin-left:21%;
    }

    .fixedFilterNav {
        top: 76px !important;
    }
}


@media only screen and (min-width: 768px) {
    .cd-tab-filter {
        cursor: auto !important;
    }

    .illustrationContainer {
        transform: scaleY(0);
        color:transparent;
    }

    .filter_music {
        display: inline-block !important;
    }

    .placeholder {
        display: none!important;
    }

    .cd-tab-filter li.placeholder {
        display: none!important;
    }

    .filter_toggle a {
        display:inline-block !important;
    }

    .composeSpan {
        display:inline-block !important;
    }

    .filterSpan {
        display:inline-block !important;
    }

}

.illustrationContainer {
    -webkit-transition:  .3s !important;
    -moz-transition:  .3s !important;
    transition:  .3s !important;
}

.illustrationAuto {
    transform: scaleY(1) !important;
    color:grey !important;
}

.relativePosition {
    position:relative;
}

.filter_toggle {
    position:absolute;
    top:0;
    left:0;
    cursor:pointer;
    margin-left:10px;
    height: 50px;
}

.compose_toggle {
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
    margin-right:10px;
    /* height: 50px; */
    /* background-color:rgba(63,149,234,0.8); */
    text-transform: uppercase;
    text-align: center;
    /* padding: 14px 24px; */
    padding-right: 10px;
    border-radius: 50px;
    font-size: 14px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    opacity: 1;
}

.compose_toggle .iconPlus {
    color:white;
}

.composeSpan {
    display:none;
    padding-left:15px;
    padding-right:15px;
    color:white;
}

.filterSpan {
    display:none;
    padding-left:15px;
    padding-right:15px;
}

.fixedFilterNav {
    position: fixed;
    top: 70px;
    z-index: 50;
    border-radius: 50px;
}

.iconDown {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: super;
}

.borderBottom {
    border-bottom-style:solid;
    border-bottom-width:2px;
    text-decoration: none;
}

#basic-link-dropdown {
    padding:0;
    text-align:center;
    border:0;
    border-radius:0px;
}

#basic-link-dropdown a {
    text-transform: uppercase ;
    font-weight: 700 ;
    font-size: 15px;
    color:rgb(100,100,100);
}

.dropdown-item.active, .dropdown-item:active {
    color: white !important;
    text-decoration: none;
    background-color: rgba(63,149,234,0.8);;
}

.illustration {
    font-size:15px;
    font-style: italic;
    font-weight: bold;
    padding:10px;
}

.illustration span {
    vertical-align: bottom;
}

.illustration-right {
    text-align:right;
}

.iconBig {
    height:30px;
    width:30px;
    display:inline-block;
}

.rotateLeft {
    transform: rotateZ(-130deg);
}

.rotateRight {
    transform: rotateZ(130deg);
}

