.margin-top {
    margin-top : 100px;
}

.marginTop20 {
    margin-top : 20px;
}

.marginTop40 {
    margin-top : 40px;
}

.customContainer {
    margin-top:-100px;
    position: relative;
    z-index:99;
}

.containerProfilePicture {
    position:relative;
    width:100%;
    padding-bottom:100%;
    margin-top:15px;
    margin-bottom:15px;
}

.containerProfilePicture img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.items {
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    background-color: #52d3aa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    padding-top: 100px;
    padding-bottom: 100px;
}

.items:before {
    top: 0;
    margin-top: -35px;
}

.items:before, .items:after {
    position: absolute;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.items:after {
    bottom: 0;
    margin-bottom: -35px;
}

.buttonForm {
    background:white;
    border-style:solid;
    border-width:2px;
    margin-left:auto;
    margin-right:auto;
    padding: 0.5rem 0.8rem;
    cursor:pointer;
    color: #52d3aa;
    /* font-size: 13px;
    text-transform: uppercase; */
    border-color:#52d3aa;
    /*border-radius:5px;*/
}

.buttonForm:hover {
    background-color:#52d3aa;
    color: white;
}

.buttonFollowContainer {
    position:absolute;
    top:15px;
    right:15px;
    width:100%;
    text-align:right;
}

.titleSharedMusicContainer {
    position:relative;
    /* height:100%;
    width:100%; */
    overflow:hidden;
    color:white;
    margin-top:15px;
    margin-bottom:15px;
    text-align:center;
    /* border-color:grey;
    border-style:solid; */
    /* border-width:6px; */
    /*border-radius:5px;*/
    padding-bottom:100%;
}

.titleSharedMusicContainer h2 {
    position:absolute;
    top:40%;
    width:100%;
    /* text-transform: uppercase; */
}

.titleSharedMusicContainer h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: white;
    left: 50%;
    margin-left: -40px;
    bottom: -20px;
}

.titleAccountContainer {
    position:relative;
    /* height:100%;
    width:100%; */
    overflow:hidden;
    color:#444;
    margin-top:15px;
    margin-bottom:15px;
    text-align:center;
    /* border-color:grey;
    border-style:solid; */
    /* border-width:6px; */
    /*border-radius:5px;*/
    padding-bottom:100%;
}

.titleAccountContainer h2 {
    position:absolute;
    top:40%;
    width:100%;
    /* text-transform: uppercase; */
}

.titleAccountContainer h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: #52d3aa;
    left: 50%;
    margin-left: -40px;
    bottom: -20px;
}

.profileInfos {
    -moz-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -webkit-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -o-box-shadow: 0px 0px 20px 5px #cfcfcf;
    box-shadow: 0px 0px 20px 5px #cfcfcf;
    margin-bottom:10px;
    /*border-radius:5px;*/
}

.iconAccount {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    display: inline-block;
}

.iconAccount svg {
    vertical-align: initial !important;
}

.profileCard-footer {
    color: #929292;
    font-weight: 700;
    width:100%;
}

.profileCard-footer .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
}

.profileCard-footer .one-third {
    width: 33%;
    float: left;
    padding: 0px 6px;
    text-align:center;
    /* border-right: 1px solid #bdc3c7; */
}

.profileCard-footer .stat {
    color:#52d3aa;
}

.profileCard-footer .no-border {
    border-right: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
