<div class="container margin-top">
  <div class="row">
    <div class="col-md-3">
      <div class="titleAccountContainer">
        <h2>Infos ...</h2>
      </div>
    </div>
    <div class="col-md-9">
      <div class="container profileInfos">
        <div class="row">
          <div class="col-md-4">
            <div *ngIf="publicUser" class="containerProfilePicture">
              <img class="item_music_image_loading" *ngIf="!loaded" src="assets/profile.png"/>
              <img [hidden]="!loaded" (load)="loaded = true" *ngIf="publicUser && publicUser.id" urlData="/api/users/download/" [appAvatar]="publicUser?.id" [random]="random" />
            </div>
          </div>
          <div class="col-md-8">
            <app-account-informations [currentUser]="publicUser" [origin]="origin"></app-account-informations>
            <div *ngIf="publicUser.id !== 0" class="buttonFollowContainer" >
              <button class="buttonForm" (click)="toggleFollow()">
                <div class="iconAccount svgCurrentColor" [inlineSVG]="'/assets/white/svg/user.svg'"></div>
                <span *ngIf="followed">Unfollow</span>
                <span *ngIf="!followed">Follow</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container profileInfos">
        <div class="row">
          <div class="profileCard-footer clearfix">
            <div class="one-third">
              <div class="stat">{{numberFollowers}}</div>
              <div class="stat-value">Followers</div>
            </div>
          
            <div class="one-third">
              <div class="stat">{{numberCompositions}}</div>
              <div class="stat-value">Compositions</div>
            </div>
          
            <div class="one-third no-border">
              <div class="stat">{{numberLikes}}</div>
              <div class="stat-value">Likes</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="animated items">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xxs-12">
        <div class="titleSharedMusicContainer">
          <h2>Shared music ...</h2>
        </div>
      </div>
      <app-music-file class="col-md-3 col-sm-4 col-xxs-12" 
      *ngFor="let mFile of musicFiles" [musicFile]="mFile"></app-music-file>
    </div>
  </div>
</div>
<div class="animated">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xxs-12">
        <div class="titleAccountContainer">
          <h2>Following ...</h2>
        </div>
      </div>
      <app-card-profile class="col-md-3 col-sm-4 col-xxs-12" 
      *ngFor="let user of listUsersFollowed" [publicUser]="user" [whiteBackground]="true"></app-card-profile>
    </div>
  </div>
</div>