<!-- <input type="text" name="username" placeholder="Username" />
<input type="text" name="email" placeholder="E-mail" />
<input type="password" name="password" placeholder="Password" />
<input type="password" name="password2" placeholder="Retype password" />

 -->

<form [formGroup]="userForm" (ngSubmit)="save()" class="formInfos">
  <div class="row">
    <label>
      <input [formGroup]="userForm" formControlName="username" type="text" #username/>
      <div [class.withValue]="userForm.controls.username.value" class="label-text">Username</div>
      <div *ngIf="userForm.controls.username.pending || (!userForm.controls.username.valid && (userForm.controls.username.dirty|| submitAttempt) && !userForm.controls.username.pending)" class="underline" [class.waiting]="userForm.controls.username.pending" [class.invalid]="!userForm.controls.username.valid && (userForm.controls.username.dirty|| submitAttempt) && !userForm.controls.username.pending"></div>
      <div *ngIf="userForm.controls.username.pending" class="label-text-bis">Checking username...</div>
      <div *ngIf="!userForm.controls.username.valid && !userForm.controls.username.pending && (userForm.controls.username.dirty || submitAttempt)" class="label-text-bis">Sorry, that username can not be used!</div>
    </label>
  </div>
  <div class="row">
    <label>
      <input type="email" [formGroup]="userForm" formControlName="email" #email/>
      <div [class.withValue]="userForm.controls.email.value" class="label-text">E-mail</div>
      <div *ngIf="userForm.controls.email.pending || (!userForm.controls.email.valid && (userForm.controls.email.dirty|| submitAttempt) && !userForm.controls.email.pending)" class="underline" [class.waiting]="userForm.controls.email.pending" [class.invalid]="!userForm.controls.email.valid && (userForm.controls.email.dirty|| submitAttempt) && !userForm.controls.email.pending"></div>
      <div *ngIf="!userForm.controls.email.valid && !userForm.controls.email.pending && (userForm.controls.email.dirty || submitAttempt)" class="label-text-bis">Please enter a valid e-mail.</div>
    </label>
  </div>
  <div class="row">
    <label class="col-md-4 label-text-fixed">Who are you ?</label>
    <div class="col-md-4">
      <label class="containerCheckBox">Player
        <input type="checkbox" [formGroup]="userForm" formControlName="player">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="col-md-4">
      <label class="containerCheckBox">Composer
        <input type="checkbox" [formGroup]="userForm" formControlName="composer">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="row">
    <label>
      <div class="label-text-fixed">Interested in</div>
      <select [formGroup]="userForm" (ngModelChange)="addToList($event)" formControlName="instruments">
        <option [selected]="true" value="">-- Select --</option>
        <option *ngFor="let instrument of listInstruments" [ngValue]="instrument">{{instrument.name}}</option>
      </select>
    </label>
  </div>
  <div class="row">
    <div class="tags">
      <span *ngFor="let instrument of listSelectedInstruments" class="tag is-danger">
        {{instrument.name}}
        &ensp;
        <span class="pointer" (click)="deleteFromList(instrument)">
          <i class="fas fa-times"></i>
        </span>
      </span>
    </div>
  </div>
  <div class="row">
    <label class="col-md-12 label-text-fixed">Description</label>
  </div>
  <div class="row">
    <label class="labelTextareaContainer">
      <textarea rows="5" [formGroup]="userForm" formControlName="description"></textarea>
    </label>
  </div>
  <div class="row label-text-fixed-container">
    <label class="col-md-4 label-text-fixed">Newsletter</label>
    <div class="col-md-4">
      <label class="containerCheckBox">Sure
        <input type="radio" [value]="true" [formGroup]="userForm" formControlName="newsletter">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="col-md-4">
      <label class="containerCheckBox">Nope
        <input type="radio" [value]="false" [formGroup]="userForm" formControlName="newsletter">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <!-- <div class="row customLeftMargin">
    
  </div> -->
  <div class="row marginButton">
    <div class="col-md-6">
      <button type="submit" [disabled]="!userForm.valid" class="buttonForm buttonAccept">Done</button>
    </div>
  </div>
</form>
