.formInfos {
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 15px;
}

label {
    display: block;
    /* letter-spacing: 4px; */
    text-align: center;
    margin:0;
    padding:0;
    margin-bottom: -15px;
}

.label-text-fixed {
    color: #52d3aa;
    font-size: 13px;
    text-transform: uppercase;
    text-align:left;
    margin-top: 13px;
    display:inline-block;
    font-weight:bold;
}

.label-text-fixed-container {
    margin-top: 30px;
}

label .label-text {
    color: #52d3aa;
    cursor: text;
    font-size: 18px;
    /* line-height: 20px; */
    text-transform: uppercase;
    -moz-transform: translateY(-28px);
    -ms-transform: translateY(-28px);
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    transition: all 0.3s;
}

label .label-text-bis {

    color: #3a3a3a;
    font-size: 11px;
    text-transform: uppercase;
    transition: all 0.3s;
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

label textarea {
    border-color:#929292;
    border-width:2px;
    color: #929292;
    font-size: 18px;
    letter-spacing: -1px;
    outline: 0;
    padding:10px;
    /*border-radius:5px;*/
    margin-top:25px;
    width:100%;
    text-align:left;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.labelTextareaContainer {
    padding-left: 120px;
    width: 100%;
    padding-right: 15px;
}

label input {
    background-color: transparent;
    border: 0;
    color: #929292;
    font-size: 18px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    transition: all 0.3s;
    margin-left:100px;
    text-align:left;
}

label select {
    background-color: transparent;
    /* border-width: 2px; */
    border-color:#52d3aa;
    /* border-radius:15px; */
    /* border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px; */
    border-width:0;
    color: #929292;
    font-size: 18px;
    letter-spacing: -1px;
    outline: 0;
    /* margin-top:5px;
    padding: 5px 20px; */
    text-align: left;
    transition: all 0.3s;
    display:inline-block;
    margin-left:15px;
    cursor:pointer;
}

.buttonForm {
    background:white;
    border-style:solid;
    border-width:2px;
    margin-left:auto;
    margin-right:auto;
    padding: 0.5rem 0.8rem;
    cursor:pointer;
    color: #52d3aa;
    /* font-size: 13px;
    text-transform: uppercase; */
    border-color:#52d3aa;
    /*border-radius:5px;*/
}

.buttonForm:hover {
    background-color:#52d3aa;
    color: white;
}

.underline {
    border-bottom: 2px solid #52d3aa;
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
    width: 100%;
}

.invalid {
    border-bottom-color: #EB6864 !important;
}

.waiting {
    -webkit-animation: sizechange 2s infinite; 
       -moz-animation: sizechange 2s infinite; 
        -ms-animation: sizechange 2s infinite;
         -o-animation: sizechange 2s infinite;
            animation: sizechange 2s infinite;
}

@-webkit-keyframes sizechange {
    0%, 100% {
        border-bottom-color: #f39c12;
        width: 80%;
      }
    
      50% {
        border-bottom-color: #EB6864;
        width: 50%;
      }
}

@keyframes sizechange {
    0%, 100%  {
        border-bottom-color: #f39c12;
        width: 80%;
      }
    
      50% {
        border-bottom-color: #EB6864;
        width: 50%;
      }
}

label input:focus {
    width: 80%;
}

label input:focus + .label-text {
    color: #3a3a3a;
    font-size: 13px;
    text-align: left;
    font-weight:bold;
}

label textarea:focus + .label-text {
    color: #3a3a3a;
    font-size: 13px;
    text-align:left;
    font-weight:bold;
}

.withValue {
    font-size: 13px !important;
    text-align: left;
    font-weight:bold;
    /* -moz-transform: translateY(-74px) !important;
    -ms-transform: translateY(-74px) !important;
    -webkit-transform: translateY(-74px) !important;
    transform: translateY(-74px) !important; */
}

.tags {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left:100px;
}

.tag:not(body) {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* border-radius: 15px;
    border-style:solid;
    border-width:2px;
    border-color:#52d3aa; */
    color: #929292;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin: 0.15rem 0.15rem;
    white-space: nowrap;
}


.containerCheckBox {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #929292;
  }
  
  .containerCheckBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50%;
    left:25%;
    background-color: #eee;
  }
  
  .containerCheckBox:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .containerCheckBox:hover {
    color: #929292;
  }
  
  .containerCheckBox input:checked ~ .checkmark {
    background-color: #52d3aa;
  }

  .marginButton {
    margin-top:20px;
  }

.customLeftMargin {
    margin-left:120px;
}

  /* input[type="text"],
  input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
  }
  
  input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  } */