<accordion-group  heading="{{styleGroupDrumsInsForm.value.name}}">
	<form [formGroup]="styleGroupDrumsInsForm" (ngSubmit)="save()">

		<div class="form-group">
		    <label class="center-block">Name :
		      <input class="form-control" formControlName="name">
		    </label>
    </div>
    
    <p class="catSettings">Percussions</p>
    <div class="slidecontainer row">
      <select multiple formControlName="instruments">
        <option *ngFor="let instrument of listPercussionInstruments" [ngValue]="instrument.id">{{instrument.name}}</option>
      </select>
    </div>

    <p class="catSettings">Rhythm base</p>
    <div class="slidecontainer row">
      <select formControlName="rhythm">
        <option *ngFor="let r of listRhythm" [ngValue]="r.id">{{r.name}}</option>
      </select>
    </div>

		<p class="catSettings">Pourcentage playing temps fort<span class="valueInput"> {{styleGroupDrumsInsForm.value.pourcentagePlayingTempsFortMin}} - {{styleGroupDrumsInsForm.value.pourcentagePlayingTempsFortMax}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsInsForm.value.pourcentagePlayingTempsFortMax}}" formControlName="pourcentagePlayingTempsFortMin" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsInsForm.value.pourcentagePlayingTempsFortMin}}" max="100" formControlName="pourcentagePlayingTempsFortMax" class="slider col-md-5">
      </div>
    </div>

    <p class="catSettings">Pourcentage playing temps faible<span class="valueInput"> {{styleGroupDrumsInsForm.value.pourcentagePlayingTempsFaibleMin}} - {{styleGroupDrumsInsForm.value.pourcentagePlayingTempsFaibleMax}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsInsForm.value.pourcentagePlayingTempsFaibleMax}}" formControlName="pourcentagePlayingTempsFaibleMin" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsInsForm.value.pourcentagePlayingTempsFaibleMin}}" max="100" formControlName="pourcentagePlayingTempsFaibleMax" class="slider col-md-5">
      </div>
    </div>

    <p class="catSettings">Pourcentage playing temps 1<span class="valueInput"> {{styleGroupDrumsInsForm.value.pourcentagePlayingTemps1Min}} - {{styleGroupDrumsInsForm.value.pourcentagePlayingTemps1Max}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsInsForm.value.pourcentagePlayingTemps1Max}}" formControlName="pourcentagePlayingTemps1Min" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsInsForm.value.pourcentagePlayingTemps1Min}}" max="100" formControlName="pourcentagePlayingTemps1Max" class="slider col-md-5">
      </div>
    </div>

    <p class="catSettings">Pourcentage playing temps 2<span class="valueInput"> {{styleGroupDrumsInsForm.value.pourcentagePlayingTemps2Min}} - {{styleGroupDrumsInsForm.value.pourcentagePlayingTemps2Max}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsInsForm.value.pourcentagePlayingTemps2Max}}" formControlName="pourcentagePlayingTemps2Min" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsInsForm.value.pourcentagePlayingTemps2Min}}" max="100" formControlName="pourcentagePlayingTemps2Max" class="slider col-md-5">
      </div>
    </div>

    <p class="catSettings">Pourcentage playing temps 3<span class="valueInput"> {{styleGroupDrumsInsForm.value.pourcentagePlayingTemps3Min}} - {{styleGroupDrumsInsForm.value.pourcentagePlayingTemps3Max}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsInsForm.value.pourcentagePlayingTemps3Max}}" formControlName="pourcentagePlayingTemps3Min" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsInsForm.value.pourcentagePlayingTemps3Min}}" max="100" formControlName="pourcentagePlayingTemps3Max" class="slider col-md-5">
      </div>
    </div>

    <p class="catSettings">Pourcentage playing temps 4<span class="valueInput"> {{styleGroupDrumsInsForm.value.pourcentagePlayingTemps4Min}} - {{styleGroupDrumsInsForm.value.pourcentagePlayingTemps4Max}}</span></p>
    <div class="slidecontainer row">
      <div class="container">
        <input type="range" min="0" max="{{styleGroupDrumsInsForm.value.pourcentagePlayingTemps4Max}}" formControlName="pourcentagePlayingTemps4Min" class="slider col-md-5">
        <input type="range" min="{{styleGroupDrumsInsForm.value.pourcentagePlayingTemps4Min}}" max="100" formControlName="pourcentagePlayingTemps4Max" class="slider col-md-5">
      </div>
    </div>
    
		<button type="submit" [disabled]="!styleGroupDrumsInsForm.valid" class="buttonForm buttonAccept">Done</button>
		<button (click)="delete()" class="buttonForm buttonAccept">Delete</button>
	</form>
</accordion-group>
