
<button *ngFor="let style of listStyles" (click)="setSelectedStyle(style)">{{style.styleName}}</button>
<button (click)="setSelectedStyle(null)">new</button>

<div *ngIf="selectedStyleMusic.id >0" class="containerProfilePicture">
	<img class="item_music_image_loading" *ngIf="!loaded" src="assets/profile.png"/>
	<img [hidden]="!loaded" (load)="loaded = true" *ngIf="selectedStyleMusic && selectedStyleMusic.id" urlData="/api/style/download/" [appAvatar]="selectedStyleMusic?.id" [random]="random" />
	<div class="buttonSelect">
		<input type="file" id="file-1" class="inputfile inputfile-1" (change)="selectFile($event)" />
		<label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Change picture&hellip;</span></label>
	</div>
</div>

<button (click)="delete(styleForm.value.styleName)">delete</button>



<accordion class="accordionForm">
  <accordion-group heading="General settings">

  	<form [formGroup]="styleForm" (ngSubmit)="save()">
	    <div class="form-group">
		    <label class="center-block">Name :
		      <input class="form-control" formControlName="styleName">
		    </label>
		  </div>

			<p class="catSettings">publish<span class="valueInput"> {{styleForm.value.publish}}</span></p>
		  <div class="row">
		  	<input type="checkbox" formControlName="publish" class="col-md-5">
		  </div>

			<p class="catSettings">Number of percussions<span class="valueInput"> {{styleForm.value.nPercussionMin}} - {{styleForm.value.nPercussionMax}}</span></p>
		  <div class="slidecontainer row">
		  	<div class="container">
		  		<input type="range" min="0" max="{{styleForm.value.nPercussionMax}}" formControlName="nPercussionMin" class="slider col-md-5">
		    	<input type="range" min="{{styleForm.value.nPercussionMin}}" max="2" formControlName="nPercussionMax" class="slider col-md-5">
		  	</div>
		  </div>

			<p class="catSettings">Number of instruments<span class="valueInput"> {{styleForm.value.nInstrumentMin}} - {{styleForm.value.nInstrumentMax}}</span></p>
		  <div class="slidecontainer row">
		  	<div class="container">
		  		<input type="range" min="1" max="{{styleForm.value.nInstrumentMax}}" formControlName="nInstrumentMin" class="slider col-md-5">
		    	<input type="range" min="{{styleForm.value.nInstrumentMin}}" max="8" formControlName="nInstrumentMax" class="slider col-md-5">
		  	</div>
		  </div>

			<p class="catSettings">Tempo<span class="valueInput"> {{styleForm.value.rythmeMin}} - {{styleForm.value.rythmeMax}}</span></p>
		  <div class="slidecontainer row">
		  	<div class="container">
		  		<input type="range" min="1" max="{{styleForm.value.rythmeMax}}" formControlName="rythmeMin" class="slider col-md-5">
		    	<input type="range" min="{{styleForm.value.rythmeMin}}" max="300" formControlName="rythmeMax" class="slider col-md-5">
		  	</div>
		  </div>

			<p class="catSettings">Tonalities</p>
		  <div class="slidecontainer row">
		  	<select multiple formControlName="availableTon">
		      <option *ngFor="let tonality of listTonalities" [ngValue]="tonality.id">{{tonality.name}}</option>
		    </select>
			</div>
			
			<button *ngIf="selectedStyleMusic.id !== 0" (click)="addStyleCoefDegres()">add coef / degres</button>
			<app-style-coef-degres
  			*ngFor="let sCD of selectedStyleMusic.styleCoefDegres" [styleCoefDegres]="sCD"></app-style-coef-degres>

			<button *ngIf="selectedStyleMusic.id !== 0" (click)="addMesureTempsFort()">add mesure / temps fort</button>
			<app-mesure-temps-fort
  			*ngFor="let mTF of selectedStyleMusic.mesureTempsForts" [mesureTempsFort]="mTF"></app-mesure-temps-fort>

			<p class="catSettings">Chord complexity<span class="valueInput"> {{styleForm.value.complexityChordMin}} - {{styleForm.value.complexityChordMax}}</span></p>
		  <div class="slidecontainer row">
		  	<div class="container">
		  		<input type="range" min="1" max="{{styleForm.value.complexityChordMax}}" formControlName="complexityChordMin" class="slider col-md-5">
		    	<input type="range" min="{{styleForm.value.complexityChordMin}}" max="4" formControlName="complexityChordMax" class="slider col-md-5">
		  	</div>
		  </div>
			
			<p class="catSettings">Number Chord<span class="valueInput"> {{styleForm.value.numberChordMin}} - {{styleForm.value.numberChordMax}}</span></p>
		  <div class="slidecontainer row">
		  	<div class="container">
		  		<input type="range" min="2" max="{{styleForm.value.numberChordMax}}" formControlName="numberChordMin" class="slider col-md-5">
		    	<input type="range" min="{{styleForm.value.numberChordMin}}" max="30" formControlName="numberChordMax" class="slider col-md-5">
		  	</div>
		  </div>

			<p class="catSettings">Sound font</p>
		  <div class="slidecontainer row">
		  	<select formControlName="soundFont">
		      <option *ngFor="let sound of listSoundFont" [ngValue]="sound">{{sound}}</option>
		    </select>
			</div>
			
			<button type="submit" [disabled]="!styleForm.valid" class="buttonForm buttonAccept">Done</button>
	</form>
  </accordion-group>

	<button *ngIf="selectedStyleMusic.id !== 0" (click)="addGroupIns()">add group instrument</button>
	<button *ngIf="selectedStyleMusic.id !== 0" (click)="addGroupDrums()">add group drums</button>

  <app-style-group-instruments
	*ngFor="let sGIs of selectedStyleMusic.styleGroupInstruments" [styleGroupIns]="sGIs" [listStyleGroupIns]="selectedStyleMusic.styleGroupInstruments"></app-style-group-instruments>
	
	<app-style-group-drums
  *ngFor="let sGDs of selectedStyleMusic.styleGroupDrums" [styleGroupDrums]="sGDs" ></app-style-group-drums>
	  
</accordion>