.slidecontainer {
    padding-left:15px;
    padding-right:15px;
}

/* .slider:hover {
    opacity: 1;
} */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;   
    background: lightgrey;
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
    top: 3px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #1a1a1a;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1a1a1a;
    cursor: pointer;
}

.valueInput {
    font-size:12px;
    float:right;
}

.accordionForm {
    color:black;
}

.catSettings {
    margin-bottom:0px;
}

.containerProfilePicture {
    width:50%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.containerProfilePicture img {
    width:100%;
}