<div class="container margin-top">
    <div class="row">
        <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Subscription</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2 subtext to-animate">
                    <h3>Choose the plan which fit your needs.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <app-card-subscription class="col-md-3 col-sm-4 col-xxs-12" *ngFor="let sub of listSubscriptionOption" [selected]="sub?.id === subOptionId" [orderId]="orderId" [subscriptionOption]="sub"></app-card-subscription>
    </div>
    <div class="row">
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xxs-12">
            <div class="titleAccountContainer">
                <h2>Boosters</h2>
            </div>
        </div>
        <app-card-booster class="col-md-3 col-sm-4 col-xxs-12" *ngFor="let boo of listBooster" [selected]="boo?.name === booster?.name" [booster]="boo" [account]="false" [numberMusics]="0"></app-card-booster>
    </div>
</div>