.margin-top {
    margin-top : 100px;
}

.titleAccountContainer {
    position:relative;
    /* height:100%;
    width:100%; */
    overflow:hidden;
    color:#444;
    margin-top:15px;
    margin-bottom:15px;
    text-align:center;
    /* border-color:grey;
    border-style:solid; */
    /* border-width:6px; */
    border-radius:5px;
    padding-bottom:100%;
}

.titleAccountContainer h2 {
    position:absolute;
    top:40%;
    width:100%;
    /* text-transform: uppercase; */
}

.titleAccountContainer h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: #52d3aa;
    left: 50%;
    margin-left: -40px;
    bottom: -20px;
}

.line {
    width:100%;
    height:2px;
    margin:20px;
    background-color:#bdc3c7;
}