.cardSubscription {
    border-radius:5px;
    overflow:hidden;
    margin-bottom:15px;
    -moz-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -webkit-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -o-box-shadow: 0px 0px 5px 2px #cfcfcf;
    box-shadow: 0px 0px 5px 2px #cfcfcf;
}

.cardSubscription:hover {
    -moz-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -webkit-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -o-box-shadow: 0px 0px 20px 5px #cfcfcf;
    box-shadow: 0px 0px 20px 5px #cfcfcf;
}

.selected {
    background-color: #52d3aa !important;
}

.headerSubscription {
    text-align:center;
    background-color: #2c3e50;
    color:white;
    padding:15px;
}

.titleSubscription {
    text-transform: uppercase;
    color:white;
}

.price {
    font-size:15px;
}

.buttonSubscription {
    background:transparent;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    padding-bottom:10px;
    width:60%;
    cursor:pointer;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    border-color:white;
}

.buttonSubscription:hover {
    background:white;
    color:#2c3e50;
}

.bodySubscription {
    padding-top:15px;
    padding-left:15%;
    font-size: 15px;
    color:#bdc3c7;
}

.bodySubscription p {
    /* border-top-color:#bdc3c7;
    border-top-style:solid;
    border-top-width:1px; */
    font-weight:600;
}

.iconOptionSubscription {
    height:16px;
    width:16px;
    display:inline-block;
    margin-right:10px;
}

.invisible {
    color:transparent;
}

