<div class="cardSubscription">
  <div class="headerSubscription" [ngClass]="{'selected':selected}">
    <!-- <div class="iconSubscription"></div> -->
    <h3 *ngIf="account === false" class="titleSubscription">{{booster?.name}}</h3>
    <h3 *ngIf="account === true" class="titleSubscription">Welcome booster</h3>
    <h2 *ngIf="account === false">{{booster?.price}} €</h2>
    <h2 *ngIf="account === true">Free</h2>
    <p *ngIf="account === false" class="price">{{booster?.numberMusics}} musics</p>
    <p *ngIf="account === true" class="price">{{numberMusics}} musics remaining</p>
    <button *ngIf="account === false" class="buttonSubscription">Choose</button>
  </div>
</div>
