<div class="product-card">
  <div class="product-image">
    <img src="{{worker.image}}">
  </div>
  <div class="product-details">
    <h3>{{worker.name}}</h3>
    <span class="job">{{worker.job}}</span>
    <p>{{worker.text}}</p>
    <p class="resume">{{worker.textResume}}</p>
  </div>
</div>
