.icons_contact {
    height: 25px;
    width: 25px;
}

.job {
    color: #b3b3b3;
    display: block;
    margin-bottom: 20px;
}

*, *:before, *:after {
    box-sizing: border-box;
}
  
  
.product-card {
    margin: 0 auto;
    color: #919495;
    text-align: center;
    position: relative;
}
  
.product-details {
    position:relative;
    padding: 30px;
    background-color: #fdfefe;
    border-radius:5px;
    -webkit-box-shadow: 0px 10px 30px 10px rgba(100, 100, 100, 0.7);
    -moz-box-shadow: 0px 10px 30px 10px rgba(100, 100, 100, 0.7);
    box-shadow: 0px 10px 30px 10px rgba(100, 100, 100, 0.7);
    overflow:hidden;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #fdfefe), color-stop(1, rgb(245, 246, 250)));
    background-image: -webkit-repeating-linear-gradient(top left, #fdfefe 0%, rgb(245, 246, 250) 100%);
    background-image: repeating-linear-gradient(to bottom right, #fdfefe 0%, rgb(245, 246, 250) 100%);
    background-image: -ms-repeating-linear-gradient(top left, #fdfefe 0%, rgb(245, 246, 250) 100%);
}

.product-details h3 {
    font-weight:bold;
}

.resume {
    font-weight:bold;
}

/* .product-details p {
    height: 0px;
    overflow: auto;
} */

/* .background-image-top {
    position: absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    opacity:0.5;
}
.background-image-top img {
    position: absolute;
    height: auto;
    width: 100%;
    left:0;
    bottom: -150px;
} */
  
.product-image {
    position: relative;
    height: 200px;
    margin-bottom: -100px;
    z-index:10;
}
.product-image img {
    position: absolute;
    height: 100%;
    left: 5%;
}
  
/* @media (max-width: 700px) {
    .product-card {
      margin-left: 20px;
      margin-right: 20px;
    }
}
@media (max-width: 540px) {
    .product-card {
      overflow: hidden;
      margin-bottom: 50px;
    }
  
    .product-details {
      width: 60%;
      z-index: 1;
    }
  
    .product-image {
      width: 100%;
      left: 50%;
      top: -30px;
    }
  }
  @media (max-width: 440px) {
    .product-details {
      width: 65%;
    }
  }
  @media (max-width: 365px) {
    .product-details {
      width: 80%;
      position: relative;
      color: #333;
      background-color: rgba(255, 255, 255, 0.7);
    }
  } */