<div class="row">
  <app-music-file class="col-lg-3 col-sm-6" 
  *ngFor="let mFile of musicFiles | musicListFilter:filter" [topMusic]="false" [musicFile]="mFile"></app-music-file>
  <div *ngIf="loading" class="col-md-2 offset-md-5">
    <img class="imgLoading" src="assets/loading-640_640.gif">
  </div>
</div>
<div *ngIf="moreVisible" class="row justify-content-center">
  <button class="buttonForm green-button" (click)="addMore()">more</button>
</div>
