/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #777777;
    /* fill: currentColor !important; */
    /*overflow-x: hidden;*/
}

*:focus {
    outline: none;
}

.svgCurrentColor svg {
    fill: currentColor !important;
}
.svgCurrentColor svg path {
    fill: currentColor !important;
}

svg {
    height:100% !important;
    width:auto !important;
}

.iconSvg svg {
    position:relative !important;
    height:100% !important;
    width:auto !important;
}

.iconSvg path {
    position:relative !important;
    height:100% !important;
    width:auto !important;
}

h5 {
    margin-top:15px;
    font-size: 16px;
}

h5 a {
    color:rgb(119, 119, 119);
}

.section-heading {
    float: left;
    width: 100%;
    padding-bottom: 50px;
    clear: both;
}

.section-heading h2,h1 {
    margin: 0 0 30px 0;
    font-size: 50px;
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
    position: relative;
    display: block;
    line-height: 1.5;
}

.section-heading h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: #52d3aa;
    left: 50%;
    margin-left: -40px;
    bottom: 0;
}

h3 {
    color: #000;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.white-color h2, h1 {
    color: white;
}

.white-color h2:after {
    background: white;
}

.section-heading h3 {
    font-weight: 300;
    line-height: 1.5;
    color: #929292;
}

.white-color h3 {
    color: white;
}

.text-center {
    text-align:center;
}

.customModal .modal-content {
    border-radius:0px !important;
    border-width:0px !important;
}

.customModal .btn-primary {
    background:transparent;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
    color: #EB6864;
    font-size: 13px;
    text-transform: uppercase;
    border-color:#EB6864;
}

.customModal .btn-primary:hover {
    background:#EB6864;
    color:white;
}

.customModal .btn-default {
    background:transparent;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    padding-bottom:10px;
    cursor:pointer;
    color: grey;
    font-size: 13px;
    text-transform: uppercase;
    border-color:grey;
}

.customModal .btn-default:hover {
    background:grey;
    color:white;
}

.items {
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #52d3aa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
}

.gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%; 
    z-index: 2;
    opacity: .8;
    -webkit-backface-visibility: hidden;
    background-color: #52d3aa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
}

.linearGradient {
    position:absolute;
    bottom: 0px;
    left: 0px;
    z-index:20;
    width: 100%;
    height: 80px;
    overflow: hidden;
    color:white;
}

.linearGradientTop {
    top:0px;
    transform: rotate(180deg);
}

.linearGradient svg {
    width: 100% !important;
}

.buttonForm {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 24px;
    border-radius: 50px;
    font-size: 14px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    opacity: 1;
}

.white-button {
    background:white;
    color:black;
    text-decoration:none;
}

.white-button:hover {
    background:black;
    color:white;
}

.green-button {
    background-color:white;
    border-width:2px;
    border-style:solid;
    border-color:#52d3aa;
    color:#52d3aa;
}

.green-button:hover {
    background-color:#52d3aa;
    color:white;
}

.margin-bottom-30 {
    margin-bottom:30px;
}

.btn-hover {
    background-size: 300% 100%;
    color:white;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #3f95ea, #52d3aa);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #52d3aa, #3f95ea, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.individual-bubble {
    position: absolute;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation-name: slideUp;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.individual-bubble-1 {
    /* background-image: url(assets/white/svg/Blanche_bas.svg); */
    -webkit-mask-image: url(assets/white/svg/Blanche_bas.svg);
    mask-image: url(assets/white/svg/Blanche_bas.svg);
}
.individual-bubble-2 {
    /* background-image: url(assets/white/svg/Blanche_pointee_bas.svg); */
    -webkit-mask-image: url(assets/white/svg/Blanche_pointee_bas.svg);
    mask-image: url(assets/white/svg/Blanche_pointee_bas.svg);
}
.individual-bubble-3 {
    /* background-image: url(assets/white/svg/Croche_bas.svg); */
    -webkit-mask-image: url(assets/white/svg/Croche_bas.svg);
    mask-image: url(assets/white/svg/Croche_bas.svg);
}
.individual-bubble-4 {
    /* background-image: url(assets/white/svg/Croche_pointee.svg); */
    -webkit-mask-image: url(assets/white/svg/Croche_pointee.svg);
    mask-image: url(assets/white/svg/Croche_pointee.svg);
}
.individual-bubble-5 {
    /* background-image: url(assets/white/svg/Crotchet_rest.svg); */
    -webkit-mask-image: url(assets/white/svg/Crotchet_rest.svg);
    mask-image: url(assets/white/svg/Crotchet_rest.svg);
}
.individual-bubble-6 {
    /* background-image: url(assets/white/svg/Double-croche.svg); */
    -webkit-mask-image: url(assets/white/svg/Double-croche.svg);
    mask-image: url(assets/white/svg/Double-croche.svg);
}
.individual-bubble-7 {
    /* background-image: url(assets/white/svg/noire_bas.svg); */
    -webkit-mask-image: url(assets/white/svg/noire_bas.svg);
    mask-image: url(assets/white/svg/noire_bas.svg);
}

@keyframes slideUp {
    from    {bottom: 10px; opacity:1;}
    to      {bottom: 100%; opacity:0;}
}

.mainCarousel .carousel-indicators li{
    background-color:rgb(219,219,219);
    width: 50px;
    height: 6px;
    border-radius: 3px;
}

.mainCarousel .carousel-indicators .active {
    background-color:#52d3aa;
}

.mainCarousel .carousel-control-next-icon, .mainCarousel .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.mainCarousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#52d3aa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.mainCarousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#52d3aa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.tonalityChoiceContainer .carousel-inner {
    padding-bottom: 50px;
}

.multi-item-carousel .carousel-indicators li{
    display:none;
}

.multi-item-carousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#009688' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.multi-item-carousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#009688' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.multi-item-carousel .carousel-control-next-icon, .multi-item-carousel .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.to-animate {
    z-index: 30;
}
.to-animate:hover {
    cursor: default;
}
.to-animate .wrapper {
    display: inline-block;
    top: 0px;
    position: relative;
    height: 50px;
    /* default */
    width: 50px;
    /* default */
    transition: ease-in-out 0.3s all;
}
.to-animate .wrapper span {
    position: absolute;
    top: 0;
    right: 0;
    transition: ease-in-out 0.3s all;
}
.to-animate .wrapper span.letter-2 {
    color: rgba(0, 0, 255, 0.5);
}
.to-animate .wrapper span.letter-1 {
    color: rgba(255, 0, 0, 0.5);
    z-index: 1;
}
.to-animate .wrapper span.letter-1:hover {
    top: -3px;
    right: -3px;
}

.to-animate .deg0 span.letter-1:hover {
    transform: rotateZ(-20deg);
}
.to-animate .deg1 span.letter-1:hover {
    transform: rotateZ(-15deg);
}
.to-animate .deg2 span.letter-1:hover {
    transform: rotateZ(-10deg);
}
.to-animate .deg3 span.letter-1:hover {
    transform: rotateZ(-5deg);
}
.to-animate .deg4 span.letter-1:hover {
    transform: rotateZ(0deg);
}
.to-animate .deg5 span.letter-1:hover {
    transform: rotateZ(5deg);
}
.to-animate .deg6 span.letter-1:hover {
    transform: rotateZ(10deg);
}
.to-animate .deg7 span.letter-1:hover {
    transform: rotateZ(15deg);
}
.to-animate .deg8 span.letter-1:hover {
    transform: rotateZ(20deg);
}
.to-animate .wrapper span.letter-1:hover ~ .letter-2 {
    top: 3px;
    right: 3px;
}
.to-animate .wrapper span.space {
    padding: 0;
    min-width: 30px;
    display: inline-block;
}

.white-color .wrapper span.letter-2 {
    color: #ed6ea0;
    opacity: 0.8;
}

.white-color .wrapper span.letter-1 {
    color: white;
}

.grey-color  .wrapper span.letter-1 {
    color: rgb(119,119,119);
}

.grey-color  .wrapper span.letter-2 {
    color: #ed6ea0;
    opacity: 0.8;
}
