.app-loading {
    .logo {
      width: 100px;
      height: 100px;
      
      // this way asset gets processed by webpack 
      background: url(./assets/murmure.gif) center center no-repeat; 
    }
}