<accordion-group  heading="{{styleCoefDegresForm.value.coefDegre}}">
  <form [formGroup]="styleCoefDegresForm" (ngSubmit)="save()">
    
    <p class="catSettings">Name</p>
    <input class="form-control" formControlName="coefDegre">

    <p class="catSettings">Degre 1</p>
    <div class="row">
      <div class="col-md-1">
        <input type="number" formControlName="c11">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c12">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c13">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c14">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c15">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c16">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c17">
      </div>
        
    </div>

    <p class="catSettings">Degre 2</p>
    <div class="row">
      <div class="col-md-1">
        <input type="number" formControlName="c21">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c22">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c23">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c24">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c25">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c26">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c27">
      </div>
        
    </div>

    <p class="catSettings">Degre 3</p>
    <div class="row">
      <div class="col-md-1">
        <input type="number" formControlName="c31">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c32">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c33">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c34">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c35">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c36">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c37">
      </div>
        
    </div>

    <p class="catSettings">Degre 4</p>
    <div class="row">
      <div class="col-md-1">
        <input type="number" formControlName="c41">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c42">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c43">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c44">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c45">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c46">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c47">
      </div>
        
    </div>

    <p class="catSettings">Degre 5</p>
    <div class="row">
      <div class="col-md-1">
        <input type="number" formControlName="c51">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c52">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c53">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c54">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c55">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c56">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c57">
      </div>
        
    </div>

    <p class="catSettings">Degre 6</p>
    <div class="row">
      <div class="col-md-1">
        <input type="number" formControlName="c61">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c62">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c63">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c64">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c65">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c66">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c67">
      </div>
        
    </div>

    <p class="catSettings">Degre 7</p>
    <div class="row">
      <div class="col-md-1">
        <input type="number" formControlName="c71">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c72">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c73">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c74">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c75">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c76">
      </div>
      <div class="col-md-1">
        <input type="number" formControlName="c77">
      </div>
        
    </div>

    <button type="submit" [disabled]="!styleCoefDegresForm.valid" class="buttonForm buttonAccept">Done</button>
		<button (click)="delete()" class="buttonForm buttonAccept">Delete</button>
  </form>
</accordion-group>
