<div class="container margin-top">
  <div class="row justify-content-md-center">
    <div class="col-md-9">
      <div class="container profileInfos">
        <div class="row">
          <div class="col-md-4 noPadding">
            <div class="containerProfilePicture">
              <img class="item_music_image_loading" *ngIf="!loaded" src="assets/profile.png"/>
              <img [hidden]="!loaded" (load)="loaded = true" *ngIf="currentUser && currentUser.id" urlData="/api/users/download/" [appAvatar]="currentUser?.id" [random]="random" />
              <div class="buttonSelect">
                <input type="file" id="file-1" class="inputfile inputfile-1" (change)="selectFile($event)" />
                <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Change picture&hellip;</span></label>
              </div>
            </div>
          </div>
          <div class="col-md-8 containerOverlayButton">
            <app-account-informations *ngIf="userInfos === 'info'" [subscriptionOption]="subOption" [subscriptionUser]="subUser" [currentUser]="currentUser" [origin]="origin"></app-account-informations>
            <app-account-form-informations [(getUserFormInfos)]="userInfos" *ngIf="userInfos === 'form'"></app-account-form-informations>
            <app-account-form-password [(getUserFormInfos)]="userInfos" *ngIf="userInfos === 'password'"></app-account-form-password>

            <div *ngIf="userInfos === 'info'" class="changeSettingsContainer">
              <span class="changeSettings" (click)="modifyInfos()">
                Edit
              </span>
              <span class="changeSettings" (click)="changePassword()">
                Change password
              </span>
              <span class="changeSettings changeSettingsRight" (click)="openModal(modalTemplate)">
                Delete account
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="container profileInfos">
        <div class="row">
          <div class="profileCard-footer clearfix">
            <div class="one-third">
              <div class="stat">{{numberFollowers}}</div>
              <div class="stat-value">Followers</div>
            </div>
          
            <div class="one-third">
              <div class="stat">{{numberCompositions}}</div>
              <div class="stat-value">Compositions</div>
            </div>
          
            <div class="one-third no-border">
              <div class="stat">{{numberLikes}}</div>
              <div class="stat-value">Likes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <app-card-profile class="col-md-4 col-sm-6 col-xxs-12" 
          *ngFor="let user of listUsersFollowed" [publicUser]="user" [whiteBackground]="false"></app-card-profile>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalTemplate>
  <div class="modal-body text-center">
    <h5>Delete your account ?</h5>
    <button type="button" class="buttonForm" (click)="deleteAccount()" >Yes</button>
    <button type="button" class="buttonForm redOption" (click)="decline()" >No</button>
  </div>
</ng-template>
