.margin-top {
    margin-top : 100px;
}

.marginTop20 {
    margin-top : 20px;
}

.marginTop40 {
    margin-top : 40px;
}

.noPadding {
    padding:0;
}

.customContainer {
    margin-top:-100px;
    position: relative;
    z-index:99;
}

.containerProfilePicture {
    position:relative;
    width:100%;
    padding-bottom:100%;
    left: 0px;
/*    margin-top:15px;
    margin-bottom:15px;*/
}

.containerProfilePicture img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.buttonSelect {
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}
  
.containerProfilePicture:hover .buttonSelect {
    opacity: 1;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0.8rem;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-1 + label {
    color: #52d3aa;
    border-style:solid;
    border-width:2px;
    border-color:#52d3aa;
    background-color: rgba(255,255,255,0.8);
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    color: white;
    background-color: #52d3aa;
}


div.circle-avatar{
    /* make it responsive */
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;
    
    /* make it a circle */
    border-radius:50%;
    
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    
    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;
    
    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.items {
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    background-color: #52d3aa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    padding-top: 100px;
    padding-bottom: 100px;
}

.items:before {
    top: 0;
    margin-top: -35px;
}

.items:before, .items:after {
    position: absolute;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.items:after {
    bottom: 0;
    margin-bottom: -35px;
}


.items_top {
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    background-color: #52d3aa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
    padding-top: 100px;
    padding-bottom: 100px;
}

.items_top:after {
    position: absolute;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
}

*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.items_top:after {
    bottom: 0;
    margin-bottom: -35px;
}

.buttonContainer {
    text-align:right;
    padding:15px;
}

.buttonForm {
    background:white;
    border-style:solid;
    border-width:2px;
    margin-left:auto;
    margin-right:auto;
    padding: 0.5rem 0.8rem;
    cursor:pointer;
    color: #52d3aa;
    border-color:#52d3aa;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.buttonForm:hover {
    background-color:#52d3aa;
    color: white;
}

.redOption {
    color: #d35400;
    border-color:#d35400;
}

.redOption:hover {
    background-color:#d35400;
    color: white;
}

.changeSettingsContainer {
    margin-top:15px;
    padding-bottom: 20px;
}

.changeSettings {
    cursor:pointer;
    color: #929292;
    font-size: 16px;
    letter-spacing: -1px;
    outline: 0;
    display:inline-block;
    text-decoration: underline;
    margin-right:5px;
}

.changeSettingsRight {
    float: right;
}

.changeSettings:hover {
    color: #52d3aa;
}

.titleSharedMusicContainer {
    position:relative;
    /* height:100%;
    width:100%; */
    overflow:hidden;
    color:white;
    margin-top:15px;
    margin-bottom:15px;
    text-align:center;
    /* border-color:grey;
    border-style:solid; */
    /* border-width:6px; */
    border-radius:5px;
    padding-bottom:100%;
}

.titleSharedMusicContainer h2 {
    position:absolute;
    top:40%;
    width:100%;
    /* text-transform: uppercase; */
}

.titleSharedMusicContainer h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: white;
    left: 50%;
    margin-left: -40px;
    bottom: -20px;
}

.titleAccountContainer {
    position:relative;
    /* height:100%;
    width:100%; */
    overflow:hidden;
    color:#444;
    margin-top:15px;
    margin-bottom:15px;
    text-align:center;
    /* border-color:grey;
    border-style:solid; */
    /* border-width:6px; */
    border-radius:5px;
    padding-bottom:100%;
}

.titleAccountContainer h2 {
    position:absolute;
    top:40%;
    width:100%;
    /* text-transform: uppercase; */
}

.titleAccountContainer h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 2px;
    background: #52d3aa;
    left: 50%;
    margin-left: -40px;
    bottom: -20px;
}

.profileInfos {
    -moz-box-shadow: 0px 0px 10px 2px #cfcfcf;
    -webkit-box-shadow: 0px 0px 10px 2px #cfcfcf;
    -o-box-shadow: 0px 0px 10px 2px #cfcfcf;
    box-shadow: 0px 0px 10px 2px #cfcfcf;
    margin-bottom:10px;
    border-radius: 50px;
    /*border-radius:5px;*/
}

.iconAccount {
    height: 25px;
    width: 25px;
    display: inline-block;
}

.profileCard-footer {
    color: #929292;
    font-weight: 700;
    width:100%;
}

.profileCard-footer .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
}

.profileCard-footer .one-third {
    width: 33%;
    float: left;
    padding: 0px 6px;
    text-align:center;
    /* border-right: 1px solid #bdc3c7; */
}

.profileCard-footer .stat {
    color:#52d3aa;
}

.profileCard-footer .no-border {
    border-right: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}