<div class="item_style">
  
  <div *ngIf="musicStyle.id !== style" class="square-content">
    <div class="disc-wrapper">
      <div class="disc">
        <div class="disc--label"><span class="label-title"></span></div>
      </div>
    </div>
  </div>
  <div class="square-content overlay">
    <img urlData="/api/style/download/" [appAvatar]="musicStyle.id" [random]="random"/>
  </div>
  <div class="square-content styleNameContainer">
    <div class="styleName"><p>{{musicStyle.styleName}}</p></div>
  </div>
</div>