
/*.item_style:hover {
    opacity:0.9;
    -moz-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -webkit-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -o-box-shadow: 0px 0px 20px 5px #cfcfcf;
    box-shadow: 0px 0px 20px 5px #cfcfcf;
}*/

.item_style:hover .disc-wrapper{
    top:-50px;
}

.item_style{
    position: relative;
    /* overflow: hidden; */
    margin-top: 25px;
    margin-bottom: 3px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius:5px;
    cursor:pointer;
    opacity:0.99;
}
.item_style:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    /* padding: 4%; */
    background-color: #fff;
    border-radius:5px;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

.overlay {
    z-index:10;
}

.square-content img {
    position:absolute;
    top:4%;
    left:4%;
    height:92%;
    width:92%;
    border-radius:5px;
    object-fit: cover;
}

.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

.styleNameContainer {
    z-index: 11;
    background-color: transparent !important;
}

.styleNameContainer p {
    mix-blend-mode: difference;
    font-weight: bold;
    font-size: 15px;
}

.disc-wrapper {
    position:absolute;
    top:-20px;
    border-radius: 50%;
    z-index: 1;
    transition: all 300ms ease;
    padding: 4%;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.disc-wrapper .disc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    border: 10px solid #000;
    border-radius: 50%;
    animation: spin 3s infinite linear;
    transition: all 300ms ease;
}
.disc-wrapper .disc .disc--label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 40%;
    background-color: #da5d46;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #000;
    transition: all 300ms ease;
}
.disc-wrapper .disc .disc--label .label-title {
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    transition: all 300ms ease;
}
.disc-wrapper .disc .disc--label::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #feecc2;
    border-radius: 50%;
    transition: all 300ms ease;
}
.disc-wrapper .disc::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 0 1px #121212;
    border-radius: 50%;
    transition: all 300ms ease;
}
.disc-wrapper .disc::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 60%;
    box-shadow: 0 0 0 1px #121212;
    border-radius: 50%;
    transition: all 300ms ease;
}