<div class="margin-top container">
  <div class="row">
    <div class="col-md-12 section-heading text-center">
      <h2 class="to-animate">Sign up !</h2>
      <div class="row">
        <div class="col-md-8 offset-md-2 subtext to-animate">
          <h3>And join a community of passionate music composers</h3>
        </div>
      </div>
    </div>
  </div>      
  <form [formGroup]="userForm" (ngSubmit)="save()">
    <div class="row justify-content-md-center">
    <div class="col-md-4">
      <label class="expand-label">
        <input [formGroup]="userForm" formControlName="username" type="text" #username/>
        <div [class.withValue]="userForm.controls.username.value" class="label-text">Username</div>
        <div class="underline" [class.waiting]="userForm.controls.username.pending" [class.invalid]="!userForm.controls.username.valid && (userForm.controls.username.dirty|| submitAttempt) && !userForm.controls.username.pending"></div>
        <div *ngIf="userForm.controls.username.pending" class="label-text-bis">Checking username...</div>
        <div *ngIf="!userForm.controls.username.valid && !userForm.controls.username.pending && (userForm.controls.username.dirty || submitAttempt)" class="label-text-bis">Sorry, that username can not be used!</div>
      </label>
    </div>
    <div class="col-md-4">
      <label class="expand-label">
        <input type="email" [formGroup]="userForm" formControlName="email" #email/>
        <div [class.withValue]="userForm.controls.email.value" class="label-text">E-mail</div>
        <div class="underline" [class.waiting]="userForm.controls.email.pending" [class.invalid]="!userForm.controls.email.valid && (userForm.controls.email.dirty|| submitAttempt) && !userForm.controls.email.pending"></div>
        <div *ngIf="!userForm.controls.email.valid && !userForm.controls.email.pending && (userForm.controls.email.dirty || submitAttempt)" class="label-text-bis">Please enter a valid e-mail.</div>
      </label>
    </div>
    </div>
    <div class="row marginTopBis justify-content-md-center">
      <div class="col-md-4">
        <label class="expand-label">
          <input type="password" [formGroup]="userForm" formControlName="password"/>
          <div [class.withValue]="userForm.controls.password.value" class="label-text">Password</div>
          <div class="underline" [class.waiting]="userForm.controls.password.pending" [class.invalid]="!userForm.controls.password.valid && (userForm.controls.password.dirty|| submitAttempt) && !userForm.controls.password.pending"></div>
          <div *ngIf="!userForm.controls.password.valid  && (userForm.controls.password.dirty || submitAttempt)" class="label-text-bis">Please enter a valid password.</div>
        </label>
      </div>

      <div class="col-md-4">
        <label class="expand-label">
          <input type="password" [formGroup]="userForm" formControlName="repeatPassword"/>
          <div [class.withValue]="userForm.controls.repeatPassword.value" class="label-text">Confirm Password</div>
          <div class="underline" [class.waiting]="userForm.controls.repeatPassword.pending" [class.invalid]="!userForm.controls.repeatPassword.valid && (userForm.controls.repeatPassword.dirty|| submitAttempt) && !userForm.controls.repeatPassword.pending"></div>
          <div *ngIf="!userForm.controls.repeatPassword.valid  && (userForm.controls.repeatPassword.dirty || submitAttempt)" class="label-text-bis">Please enter a valid password.</div>
        </label>
      </div>
    </div>
    <div class="row marginTopBis justify-content-md-center">
      <label>
        <input type="checkbox" formControlName="validationTerms"/> I agree with the <a target="_blank" href="/termsAndConditions">Terms and conditions</a>
      </label>
    </div>
    <div class="row marginTopBis customAlign justify-content-md-center">
      <div class="col-md-4">
        <button type="submit" [disabled]="!userForm.valid || loading" class="buttonForm buttonAccept">Done</button>
      </div>
    </div>
  </form>
</div>