<div class="container margin-bottom-30">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="container ">
        <div class="row justify-content-center animatedTransitions">

          <div class="d-none d-lg-block" [ngClass]="{'col-lg-8': panel === 'main', 'col-0': panel !== 'main'}">
            <app-main-settings></app-main-settings>
          </div>

          <div [ngClass]="{'col-lg-4 col-sm-3': panel === 'menu', 'col-lg-1': panel === 'advanced', 'col-0': panel === 'main' }">
            <li class="filter filter_music">
              <a (click)="flipState('start'); panel = 'main'" >
                <div class="iconPlus svgCurrentColor" [inlineSVG]="'/assets/white/svg/sliders.svg'"></div>
              </a>
            </li>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="customTitleContainer">
              <h5 class="customTitle">{{musicParameters.musicTitle}}</h5>
            </div>

            <div class="containerVinyl" (click)="panel = 'menu'" [@flip]="flip" [ngClass]="{'vinylLoading':loading}">

              <div class="disc-wrapper">
                <div class="disc">
                  <div class="disc--label">
                    <img *ngIf="!loading && style !==0" urlData="/api/style/download/" [appAvatar]="style" [random]="random" />
                    <span class="label-title"></span>
                  </div>
                </div>
              </div>

              <div class="disc-wrapper disk-back">
                <div class="disc">
                  <div class="disc--label">
                    <p *ngFor="let ins of lisInstruments">{{ins.name}}</p>
                    <span class="label-title"></span>
                  </div>
                </div>
              </div>

            </div>

            <div class="buttonForm btn-hover color-10 d-none d-lg-block" (click)="generateMusic(style)">
              <span *ngIf="!loading">Compose</span>
              <span *ngIf="loading">Loading...</span>
            </div>
            <div class="validation d-none d-lg-block">
              <div class="profileCard-footer clearfix">
                <div class="one-second">
                  <div class="stat">{{numberMusicsSubUser}}</div>
                  <div class="stat-value">Subscription</div>
                </div>
              
                <div class="one-second no-border">
                  <div class="stat">{{numberMusicsBooster}}</div>
                  <div class="stat-value">Booster</div>
                </div>
              </div>
            </div>
          </div>

          <div [ngClass]="{'col-lg-4 col-sm-3': panel === 'menu', 'col-lg-1': panel === 'main', 'col-0': panel === 'advanced' }">
            <li class="filter filter_music">
              <a (click)="flipState('end'); panel = 'advanced'">
                <div class="iconPlus svgCurrentColor" [inlineSVG]="'/assets/white/svg/violon.svg'"></div>
              </a>
            </li>
          </div>
          <div class="d-none d-lg-block" [ngClass]="{'col-lg-8': panel === 'advanced', 'col-0': panel !== 'advanced'}">
            <app-instruments-settings></app-instruments-settings>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-none">
    <app-main-settings></app-main-settings>
  </div>
  <div class="d-lg-none">
    <app-instruments-settings></app-instruments-settings>
  </div>
  <div class="row justify-content-center d-lg-none">
    <div class="buttonForm btn-hover color-10" (click)="generateMusic(style)">
      <span *ngIf="!loading">Compose</span>
      <span *ngIf="loading">Loading...</span>
    </div>
  </div>
  <div class="row justify-content-center d-lg-none">
    <div class="validation margin-custom">
      <div class="profileCard-footer clearfix">
        <div class="one-second">
          <div class="stat">{{numberMusicsSubUser}}</div>
          <div class="stat-value">Subscription</div>
        </div>
      
        <div class="one-second no-border">
          <div class="stat">{{numberMusicsBooster}}</div>
          <div class="stat-value">Booster</div>
        </div>
      </div>
    </div>
  </div>

  <div appBubbles class="getPremiumContainer">
    <a class="getPremium" [routerLink]="['/subscribe']">Get premium</a>
  </div>
</div>

<ng-template #modalTemplate>
  <div class="modal-body text-center">
    <h4>Oups...No more credits</h4>
    <p>
      <a class="getPremiumModal" href="#" (click)="decline()" [routerLink]="['/subscribe']">Get premium </a>
      or wait for tomorrow for your account to refill.
    </p>
  </div>
</ng-template>