.margin-top {
    margin-top:100px;
}

.customTitleContainer {
    text-align: center;
}

.customTitle {
    margin-top:20px;
    margin-bottom:25px;
    color:white;
    text-transform: uppercase ;
    font-weight: 700 ;
    font-size: 15px;
}

a:hover {
    color:rgb(100,100,100);
}

.settings {
    width:60%;
}

.listInstruments {
    font-size:8px;
    text-align: center;
}

.listInstruments p {
    margin:0px;
}

.vinylLoading {
    animation-name: flipLoading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* The animation code */
@keyframes flipLoading {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(180deg);}
}

.iconCompose {
    height:16px;
    width:16px;
    display:inline-block;
}

.iconSubscription {
    height:16px;
    width:16px;
    display:inline-block;
    margin-right:10px;
}

.containerVinyl {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    perspective: 800px;
    margin-bottom: 40px;
    cursor:pointer;
}

.containerVinyl::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.disc-wrapper {
    position:absolute;
    top:0;
    left:0;
    border-radius: 50%;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
    padding: 3%;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    backface-visibility: hidden;
}

.disk-back {
    transform: rotateY(179.9deg);
}

.disc-wrapper .disc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    border: 10px solid #000;
    border-radius: 50%;
    animation: spin 3s infinite linear;
    transition: all 300ms ease;
}
.disc-wrapper .disc .disc--label {
    position:relative;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #000;
    transition: all 300ms ease;
    font-size: 8px;
}

.disc--label p {
    margin:0px;
}

.disc-wrapper .disc .disc--label img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.disc-wrapper .disc .disc--label .label-title {
    margin-top: -25px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    transition: all 300ms ease;
}
.disc-wrapper .disc .disc--label::after {
    content: '';
    position: absolute;
    top: 43%;
    left: 43%;
    width: 14%;
    height: 14%;
    background-color: #fff;
    border-radius: 50%;
    z-index:2;
    transition: all 300ms ease;
}
.disc-wrapper .disc::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 70%;
    box-shadow: 0 0 0 1px #121212;
    border-radius: 50%;
    transition: all 300ms ease;
}
.disc-wrapper .disc::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    box-shadow: 0 0 0 1px #121212;
    border-radius: 50%;
    transition: all 300ms ease;
}

.active {
    border-bottom-style:solid;
    border-bottom-width:2px;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color:white;
}

.filter a:hover .iconPlus:before {
    background-color: #ed6ea0;
}

.col-lg-1 .iconPlus {
    height: 30px;
    width: 30px;
    margin-top: 145px;
}

.iconPlus {
    height: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    position: relative;
    transition: all 0.4s;
}

.iconPlus:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    background: whitesmoke;
    border-radius: 50%;
    animation: pulse-border 3500ms ease-out infinite;
}

@keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(5);
      opacity: 0;
    }
}

.cd-tab-filter-wrapper {
  background-color: rgba(250,250,250,0.2);
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
  z-index: 1;
  width:100%;
  border-radius: 50px;
}


.filter_music {
    display: none;
    width: 100%;
    text-align: center;
    height: 100%;
}

.cd-tab-filter .filter_music:first-child {
    display: block;
}

.cd-tab-filter {
    position: relative;
    height: 50px;
    z-index: 1;
    width: 100% !important;
    float: right !important;
    margin: 0 !important;
    -webkit-transition: .3s !important;
    -moz-transition: .3s !important;
    transition: .3s !important;
}

.cd-filters {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 -2px 0 #41307c;
    padding:0;
    background: 0 0 !important;
    position: static !important;
    box-shadow: none !important;
    text-align: center !important;
}

.filter {
    list-style: none;
    text-decoration: none;
    /* color:rgba(63,149,234,0.8) !important; */
}

.filter a {
    font-size: 15px;
    color:white;
    /* color: linear-gradient(to right, #ed6ea0, #ec8c69); */
    /* box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75); */
    text-decoration: none;
    list-style: none;
    width: 100%;
    text-align: center;
    cursor:pointer;
}

.filter a:hover {
    /* color: linear-gradient(to right, #f7186a , #FBB03B); */
    text-decoration: none;
    list-style: none;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.cd-tab-filter a.selected {
    background: #41307c;
    color: #fff;
}

.placeholder {
    position: relative;
    display: inline-block !important;
}

#basic-link {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0 1em ;
    width: auto ;
    text-transform: uppercase ;
    font-weight: 700 ;
    font-size: 15px;
    color:white !important;
    text-decoration: none;
    list-style: none;
}

@media only screen and (min-width: 768px) {
    .cd-tab-filter {
        /*width: auto !important;*/
        cursor: auto !important;
    }

    .filter_music {
        display: block !important;
    }

    .placeholder {
        display: none!important;
    }

    .cd-tab-filter li.placeholder {
        display: none!important;
    }

    .composeSpan {
        display:block !important;
    }

}

.composeSpan {
    display:none;
    padding-left:15px;
    padding-right:15px;
}

.iconDown {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: super;
}

.borderBottom {
    border-bottom-style:solid;
    border-bottom-width:2px;
    text-decoration: none;
}

#basic-link-dropdown {
    padding:0;
    text-align:center;
    border:0;
    border-radius:0px;
}

#basic-link-dropdown a {
    text-transform: uppercase ;
    font-weight: 700 ;
    font-size: 15px;
    color:rgb(100,100,100);
}

.dropdown-item.active, .dropdown-item:active {
    color: white !important;
    text-decoration: none;
    background-color: rgba(63,149,234,0.8);;
}

.validation {
    text-align:center;
    /* background-color: rgba(250,250,250,0.2);
    border-radius:50px; */
    margin-top:5px;
}

.validation h5 { 
    text-transform: uppercase ;
    font-weight: 700 ;
    font-size: 15px;
    color:white;
}

.margin-custom {
    margin-left: 15px;
    margin-right: 15px;
}

.profileCard-footer {
    color: white;
    font-weight: 700;
    /* border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px; */
}

.profileCard-footer .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
}

.profileCard-footer .one-second {
    width: 50%;
    float: left;
    padding: 0px 6px;
    text-align:center;
    /* border-right: 1px solid #bdc3c7; */
}

.profileCard-footer .no-border {
    border-right: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.getPremiumContainer {
    text-align:center;
    margin-top: 20px;
}

.getPremium {
    color:#ed6ea0;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

/* .getPremium:before {
    content: "";
    position: absolute;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    background: whitesmoke;
    animation: pulse-border 3500ms ease-out infinite;
} */

.getPremium:hover {
    text-decoration: none;
    color:#f7186a;
}

.getPremiumModal {
    color:rgba(82,211,170,0.8);
}

.animatedTransitions div {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.col-0 {
    flex: 0 0 0;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}