<div (click)="goToProfile()" class="cardProfile" [ngClass]="{'shadow':whiteBackground}">
  <div class="square">
    <div class="squareBis">
      <img *ngIf="publicUser && publicUser.id" urlData="/api/users/download/" [appAvatar]="publicUser?.id" [random]="random" >
      <h5 class="profileCard-title">{{publicUser?.username}}</h5>
    </div>
  </div>
  <div class="profileCard-body">
    <p class="whoProfile">{{who}}</p>
    <!-- <p class="card-text">{{publicUser?.description}}</p> -->
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="profileCard-footer clearfix">
    <div class="one-third">
      <div class="stat">{{numberFollowers}}</div>
      <div class="stat-value">Followers</div>
    </div>
  
    <div class="one-third">
      <div class="stat">{{numberCompositions}}</div>
      <div class="stat-value">Compositions</div>
    </div>
  
    <div class="one-third no-border">
      <div class="stat">{{numberLikes}}</div>
      <div class="stat-value">Likes</div>
    </div>
  </div>
</div>
