.cardProfile {
    background-color:rgb(250,250,255);
    /*border-radius:5px;*/
    /* overflow:hidden; */
    color:black;
    margin-top:15px;
    margin-bottom:15px;
    opacity:0.99;
    cursor:pointer;
    -moz-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -webkit-box-shadow: 0px 0px 20px 5px #cfcfcf;
    -o-box-shadow: 0px 0px 20px 5px #cfcfcf;
    box-shadow: 0px 0px 20px 5px #cfcfcf;
}

.shadow {
    -moz-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -webkit-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -o-box-shadow: 0px 0px 5px 2px #cfcfcf;
    box-shadow: 0px 0px 5px 2px #cfcfcf;
}

.square {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.squareBis {
    position: absolute;
    width: 90%;
    left:5%;
    top:-7%;
    padding-bottom: 100%;
    overflow:hidden;
    border-radius:5px;
    -moz-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -webkit-box-shadow: 0px 0px 5px 2px #cfcfcf;
    -o-box-shadow: 0px 0px 5px 2px #cfcfcf;
    box-shadow: 0px 0px 5px 2px #cfcfcf;
    color:white;
}

.squareBis h5{
    position: absolute;
    bottom:10px;
    width:100%;
    padding-left:10px;
}

.squareBis img {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    object-fit: cover;
}

.profileCard-body {
    text-align:center;
}

.whoProfile {
    color: #929292;
    font-size: 13px;
    cursor: text;
    line-height: 20px;
    text-transform: uppercase;
}

.profileCard-footer {
    color: #929292;
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

/* .profileCard-footer .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
} */
.profileCard-footer .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
}

.profileCard-footer .one-third {
    width: 33%;
    float: left;
    padding: 0px 6px;
    text-align:center;
}

.profileCard-footer .one-third {
    /* border-right: 1px solid #309eff; */
}

.profileCard-footer .no-border {
    border-right: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}