<div class="flexContainer">
    <div class="imgProfileContainer">
        <img urlData="/api/users/download/" [appAvatar]="commentMusic?.user_id" [random]="random" width="100%" height="auto" />
    </div>
    <div class="messageContainer">
        <h4><a href routerLink="/publicAccount/{{commentMusic?.user_id}}">{{commentMusic?.user_name}}</a>  <span>{{time}}</span></h4>
        <div><pre>{{commentMusic?.message}}</pre></div>
        <div class="iconsContainer">
            <a *ngIf="likeIcon" class="iconThumb svgCurrentColor" [inlineSVG]="'/assets/white/svg/thumbs-up.svg'" title="like" (click)="removeEntryLike()"></a>
            <a *ngIf="!likeIcon" class="iconThumb svgCurrentColor" [inlineSVG]="'/assets/white/svg/thumbs-o-up.svg'" title="like" (click)="like()"></a>
            <span>{{numberLikes}}</span>
            <a *ngIf="dislikeIcon" class="iconThumb svgCurrentColor" [inlineSVG]="'/assets/white/svg/thumbs-down.svg'" title="dislike" (click)="removeEntryLike()"></a>
            <a *ngIf="!dislikeIcon" class="iconThumb svgCurrentColor" [inlineSVG]="'/assets/white/svg/thumbs-o-down.svg'" title="dislike" (click)="dislike()"></a>
            <span>{{numberDislikes}}</span>
        </div>
    </div>
    <div dropdown container="body" class="optionsComment">
        <a href dropdownToggle (click)="false" >
            <div class="optionsCommentIcon svgCurrentColor" [inlineSVG]="'/assets/white/svg/ellipsis-v.svg'"></div>
        </a>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href (click)="signalComment()">Inappropriate</a></li>
            <li *ngIf="commentMusic?.user_id === currentUser?.id" role="menuitem"><a class="dropdown-item" href (click)="delete()">Delete my comment</a></li>
        </ul>
    </div>
</div>

