.flexContainer {
    
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: space-between;
    width:100%;
}

.messageContainer {
    flex-grow: 1;
    flex: 1;
    position:relative;
    /* width:100%; */
    padding-left:15px;
    padding-right:15px;
    margin-bottom:30px;
}

.messageContainer h4 {
    font-size: 18px;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight: 700;
    color:black;
}

.messageContainer a {
    color:black;
}

.messageContainer a:hover {
    color:rgb(169, 169, 169);
}

.messageContainer span {
    font-size: 13px;
    color:rgb(169, 169, 169);
}

.messageContainer pre {
    font-family:"Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    margin-bottom:10px !important;
    white-space: pre-wrap;
}

.imgProfileContainer {
    position:relative;
    height:60px;
    width:60px;
    overflow:hidden;
    border-radius:30px;
    vertical-align: middle;
    flex-shrink: 0;
}

.imgProfileContainer img {
    position:absolute;
    min-height:100%;
    min-width:100%;
    top:0;
    left:0;
    object-fit: cover;
    vertical-align: middle;
}

.flexContainer:hover .optionsCommentIcon {
    opacity:1;
}

.optionsComment:hover {
    background-color:#ecf0f1;
}

.optionsComment {
    position:relative;
    height:40px;
    width:40px;
    overflow:hidden;
    border-radius:30px;
    vertical-align: middle;
    flex-shrink: 0;
    cursor:pointer;
    margin-left: auto;
}

.optionsCommentIcon {
    position:absolute;
    top:5px;
    left:10px;
    height:20px;
    width:20px;
    fill: currentColor;
    opacity:0;
    z-index: 1;
    color:rgb(150,150,150);
}

/* .iconsContainer img{
    position:relative;
    height:100%;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
} */

.iconsContainer {
    position: relative;
    height: 20px;
    width:100%;
    color:black;
}

.iconsContainer .iconThumb{
    position:relative;
    display:inline-block;
    height:20px;
    width:20px;
    cursor:pointer;
    fill: currentColor;
    z-index: 1;
    color:rgb(100,100,100);
}

.iconsContainer .iconThumb:hover{
    transform:scale(1.1);
    color:rgb(150,150,150);
}